<?xml version="1.0" encoding="utf-8"?>
<MemberType Key="43d77588-6f2c-4915-a4c3-fb781b4852a3" Alias="memberTailoredTour" Level="1">
  <Info>
    <Name>Member - Tailored Tour</Name>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>55fdae2d-59ab-4629-a905-883404292415</Key>
      <Name>Member Tour Page</Name>
      <Alias>memberTourPage</Alias>
      <Definition>6e316e58-7efe-4895-a3e3-a0a33ca836fd</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs />
</MemberType>