<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="e5e7f6c8-7f9c-4b5b-8d5d-9e1e5a4f7e4d" Alias="admin">
  <Info>
    <Sections>ai,content,forms,media,member,packages,settings,TagManager.Section,translation,users</Sections>
    <Key>e5e7f6c8-7f9c-4b5b-8d5d-9e1e5a4f7e4d</Key>
    <Icon>icon-medal</Icon>
    <Name>Administrators</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[Umb.Document.Create,Umb.Document.Update,Umb.Document.Delete,Umb.Document.Move,Umb.Document.Duplicate,Umb.Document.Sort,Umb.Document.Rollback,Umb.Document.PublicAccess,Umb.Document.CultureAndHostnames,Umb.Document.Publish,Umb.Document.Permissions,Umb.Document.Unpublish,Umb.Document.Read,Umb.Document.CreateBlueprint,Umb.Document.Notifications,:,5,7,T,Umb.Document.PropertyValue.Read,Umb.Document.PropertyValue.Write,uSync.UserPermission.Push,uSync.UserPermission.Pull,uSync.UserPermission.Browse]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>true</HasAccessToAllLanguages>
  </Languages>
</UserGroup>