<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="44dc260e-b4d4-4dd9-9081-eec5598f1641" Alias="editor">
  <Info>
    <Sections>content,forms,media</Sections>
    <Key>44dc260e-b4d4-4dd9-9081-eec5598f1641</Key>
    <Icon>icon-tools</Icon>
    <Name>Editors</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[Umb.Document.Create,Umb.Document.Update,Umb.Document.Delete,Umb.Document.Move,Umb.Document.Duplicate,Umb.Document.Sort,Umb.Document.Rollback,Umb.Document.PublicAccess,Umb.Document.Publish,Umb.Document.Unpublish,Umb.Document.Read,Umb.Document.CreateBlueprint,Umb.Document.Notifications,:,5,T,Umb.Document.PropertyValue.Read,Umb.Document.PropertyValue.Write]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>true</HasAccessToAllLanguages>
  </Languages>
</UserGroup>