<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="f2012e4c-d232-4bd1-8eae-4384032d97d8" Alias="translator">
  <Info>
    <Sections>translation</Sections>
    <Key>f2012e4c-d232-4bd1-8eae-4384032d97d8</Key>
    <Icon>icon-globe</Icon>
    <Name>Translators</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[Umb.Document.Update,Umb.Document.Read,Umb.Document.PropertyValue.Read,Umb.Document.PropertyValue.Write]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>true</HasAccessToAllLanguages>
  </Languages>
</UserGroup>