<?xml version="1.0" encoding="utf-8"?>
<Content Key="17938205-f958-4478-8d75-6dbfc40a553a" Alias="3 9 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T18:39:05</CreateDate>
    <NodeName Default="3 9 Column Layout" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "c197111c-f1e6-493a-8f94-c359370a5406",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "2587678c-8f1e-44ff-8627-8dc9977e126a",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "6409cfad-d7dc-414a-847b-9b7ec6a110ea",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "5c5f7e64-574f-4567-ae20-165e4d399768",
      "values": [
        {
          "alias": "featurePropertyFeatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6e7bb239-26e6-4ff5-af44-6088fe43d55e",
              "mediaKey": "7b3fe1fb-739b-43e3-87c9-a8821121176f",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "c605ef41-4455-432a-90d0-cc32057b21aa",
      "values": [
        {
          "alias": "featurePropertyFeatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "984cbe94-a59e-4d1b-9394-da70d8f6debe",
              "mediaKey": "ff9d4e3b-bf9c-45c4-aad7-c05cc6fbdb3e",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "7a253fce-067d-47da-a4aa-476dbabe05a0",
      "values": [
        {
          "alias": "featurePropertyFeatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "52bd5bda-424a-47e0-ad80-87da1a9d5d4a",
              "mediaKey": "c85c98de-97f7-4359-9395-7aa7fa21a544",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "c2ac622c-0298-44f4-9b5e-293c3252c32e",
      "values": [
        {
          "alias": "featurePropertyFeatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b3cb9355-0e7d-47a1-987d-d7728ede1dcb",
              "mediaKey": "b1130f10-be25-41d3-a98e-a28d20d96348",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "1081649c-081e-4513-ab8d-69c0ebc37671",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "d174808a-a437-44bb-8c05-b50b502ae5ea",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "0f785b73-414c-4d92-857c-30329c39d46a",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "16f17bcc-7fb2-4704-af7b-ad0ecdfdabf1",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "218b464b-be85-4851-b365-a94b4220933f",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "c05cc7f9-4b8c-4050-8986-b4bfa5fcc630",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e587ded4-1aeb-47a6-851b-b416acc62595",
      "key": "d59cd0d8-42ef-4db7-be22-998d2046dd57",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6409cfad-d7dc-414a-847b-9b7ec6a110ea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2587678c-8f1e-44ff-8627-8dc9977e126a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c197111c-f1e6-493a-8f94-c359370a5406",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5c5f7e64-574f-4567-ae20-165e4d399768",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c605ef41-4455-432a-90d0-cc32057b21aa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7a253fce-067d-47da-a4aa-476dbabe05a0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c2ac622c-0298-44f4-9b5e-293c3252c32e",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6409cfad-d7dc-414a-847b-9b7ec6a110ea",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1081649c-081e-4513-ab8d-69c0ebc37671",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2587678c-8f1e-44ff-8627-8dc9977e126a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c05cc7f9-4b8c-4050-8986-b4bfa5fcc630",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "c605ef41-4455-432a-90d0-cc32057b21aa",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "0f785b73-414c-4d92-857c-30329c39d46a",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "7a253fce-067d-47da-a4aa-476dbabe05a0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "16f17bcc-7fb2-4704-af7b-ad0ecdfdabf1",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "c2ac622c-0298-44f4-9b5e-293c3252c32e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "218b464b-be85-4851-b365-a94b4220933f",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "5c5f7e64-574f-4567-ae20-165e4d399768",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d174808a-a437-44bb-8c05-b50b502ae5ea",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c197111c-f1e6-493a-8f94-c359370a5406",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d59cd0d8-42ef-4db7-be22-998d2046dd57",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 9 Column Layout]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "1995189d-db79-4de0-bd54-c6afa9c1e5d1",
    "mediaKey": "fcba1793-7f32-4ac4-bcee-da6d6fc69c08",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[3 9 Column Layout]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[3 9]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>