<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3d15c30-28d0-4b4a-abd6-14895c13d4fc" Alias="Austria" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/Austria</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-13T18:29:30</CreateDate>
    <NodeName Default="Austria" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "2850b8f9-b162-4ff6-96bf-70bfa5fcf85c",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "ca441ca0-cbb2-4019-ba98-0ea2db2f9c8a",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "a0052b44-4db1-4e44-b543-ba9a1fadce0c",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "e87125c6-2d50-49c6-b690-e20bdffc0311",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "0215094e-5581-4471-a4e0-6c9465a1773f",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "d0b03d62-d05f-4c2a-badb-c681b2542c2b",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "3bafad18-6cc4-4ab5-b299-12dbab44b51d",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "287da6c8-b8f4-40de-84a3-57099490872e",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "6c8b1189-70b0-4a9b-8029-19e1a2d6301d",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "65ca8dbb-8979-48eb-b547-ce2f02931d87",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "2332ed2f-17a0-4c99-abee-873a4a708e64",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "147236b5-dbb2-4d33-bbdb-a711d134ce89",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2850b8f9-b162-4ff6-96bf-70bfa5fcf85c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ca441ca0-cbb2-4019-ba98-0ea2db2f9c8a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a0052b44-4db1-4e44-b543-ba9a1fadce0c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e87125c6-2d50-49c6-b690-e20bdffc0311",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0215094e-5581-4471-a4e0-6c9465a1773f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d0b03d62-d05f-4c2a-badb-c681b2542c2b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3bafad18-6cc4-4ab5-b299-12dbab44b51d",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ca441ca0-cbb2-4019-ba98-0ea2db2f9c8a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "287da6c8-b8f4-40de-84a3-57099490872e",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e87125c6-2d50-49c6-b690-e20bdffc0311",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2332ed2f-17a0-4c99-abee-873a4a708e64",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "d0b03d62-d05f-4c2a-badb-c681b2542c2b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "3bafad18-6cc4-4ab5-b299-12dbab44b51d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "0215094e-5581-4471-a4e0-6c9465a1773f",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "147236b5-dbb2-4d33-bbdb-a711d134ce89",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a0052b44-4db1-4e44-b543-ba9a1fadce0c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6c8b1189-70b0-4a9b-8029-19e1a2d6301d",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2850b8f9-b162-4ff6-96bf-70bfa5fcf85c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "65ca8dbb-8979-48eb-b547-ce2f02931d87",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Browse our suggested Austria group tours below, or if you don't see what you're looking for, we'll tailor make an itinerary to your exact requirements.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "f6b001fe-8bdb-4fa5-9175-1a4df94453e3",
    "mediaKey": "466f9a8f-fbcf-4f1e-a07d-df0f1046c6dd",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Austria]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Austria]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>