<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5b563bf-45fb-4489-8f85-d19b4bce71a1" Alias="Belgium" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/Belgium</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-13T18:47:30</CreateDate>
    <NodeName Default="Belgium" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "d88d7461-4638-4c96-a717-5da0d4bb9fe0",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "17b64880-8341-498e-ab80-e71680e78f0a",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "9c12cb40-b100-4834-aba6-415eae1e195b",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "fcb144a3-ff9d-4a6e-bd3a-2a6518e5082d",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "19e6f4aa-5a84-48cd-9112-b66c8c9a60b4",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "b05be99c-c89d-4e80-8cee-17403e673139",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "b8f69e74-e613-4e97-9fcf-63bafae80d04",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "1d2049b8-a27b-46cb-b3a6-954abbfe5824",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "67c16458-5996-49ab-b739-1b7b6d4dc24a",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "23e692d5-f3f7-4776-94b3-2091b37f5095",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "b5ddbb57-8b5a-43e4-8e6e-3972f825f24a",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "d8cbd381-b269-43ac-b385-59c7b7b7106e",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d88d7461-4638-4c96-a717-5da0d4bb9fe0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "17b64880-8341-498e-ab80-e71680e78f0a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9c12cb40-b100-4834-aba6-415eae1e195b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fcb144a3-ff9d-4a6e-bd3a-2a6518e5082d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "19e6f4aa-5a84-48cd-9112-b66c8c9a60b4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b05be99c-c89d-4e80-8cee-17403e673139",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b8f69e74-e613-4e97-9fcf-63bafae80d04",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "17b64880-8341-498e-ab80-e71680e78f0a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1d2049b8-a27b-46cb-b3a6-954abbfe5824",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fcb144a3-ff9d-4a6e-bd3a-2a6518e5082d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b5ddbb57-8b5a-43e4-8e6e-3972f825f24a",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "b05be99c-c89d-4e80-8cee-17403e673139",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b8f69e74-e613-4e97-9fcf-63bafae80d04",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "19e6f4aa-5a84-48cd-9112-b66c8c9a60b4",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d8cbd381-b269-43ac-b385-59c7b7b7106e",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "9c12cb40-b100-4834-aba6-415eae1e195b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "67c16458-5996-49ab-b739-1b7b6d4dc24a",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d88d7461-4638-4c96-a717-5da0d4bb9fe0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "23e692d5-f3f7-4776-94b3-2091b37f5095",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Browse our suggested Belgium group tours below, or if you don't see what you're looking for, we'll tailor make an itinerary to your exact requirements.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "53c16666-3c91-462f-acaf-0f0cd9153d8d",
    "mediaKey": "1445b635-9c8c-47bb-a345-83a359e89ca4",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Belgium]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Belgium]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>