<?xml version="1.0" encoding="utf-8"?>
<Content Key="617c1de9-c219-4027-bb39-688863264cca" Alias="Central and Eastern Europe" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/CentralAndEasternEurope</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-14T08:29:32</CreateDate>
    <NodeName Default="Central and Eastern Europe" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "b8f47ff4-97f7-4045-8d6e-72dcf565d74b",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "7f6cf43d-be3d-44ab-bf1e-b7063388374b",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "54b6b9f8-31af-463e-b5fd-5ea571a29fd1",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "d8847973-0087-4af2-886e-89b7b4dd6623",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "2f90c7d2-e8a3-401d-959c-724608e7c3df",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "1d5ca8e6-9e97-4e80-b887-1819f3d0ee1e",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "030f50ac-ee6a-4843-91c8-28f663d8efa1",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "6cac8316-df3b-4266-bcde-be88602088d6",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "bb51a2b6-b768-4039-bf87-23487cd41ffd",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "b39d7367-2500-4689-b2b4-867d90a06151",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "c2bc3ae0-174d-4940-b8ec-4c7a4d6f3ed3",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "ea462c73-f67b-40d9-be86-68d59a4cf69f",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b8f47ff4-97f7-4045-8d6e-72dcf565d74b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7f6cf43d-be3d-44ab-bf1e-b7063388374b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "54b6b9f8-31af-463e-b5fd-5ea571a29fd1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d8847973-0087-4af2-886e-89b7b4dd6623",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2f90c7d2-e8a3-401d-959c-724608e7c3df",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1d5ca8e6-9e97-4e80-b887-1819f3d0ee1e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "030f50ac-ee6a-4843-91c8-28f663d8efa1",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7f6cf43d-be3d-44ab-bf1e-b7063388374b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6cac8316-df3b-4266-bcde-be88602088d6",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "030f50ac-ee6a-4843-91c8-28f663d8efa1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ea462c73-f67b-40d9-be86-68d59a4cf69f",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "2f90c7d2-e8a3-401d-959c-724608e7c3df",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "1d5ca8e6-9e97-4e80-b887-1819f3d0ee1e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d8847973-0087-4af2-886e-89b7b4dd6623",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c2bc3ae0-174d-4940-b8ec-4c7a4d6f3ed3",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "54b6b9f8-31af-463e-b5fd-5ea571a29fd1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "bb51a2b6-b768-4039-bf87-23487cd41ffd",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b8f47ff4-97f7-4045-8d6e-72dcf565d74b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b39d7367-2500-4689-b2b4-867d90a06151",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Browse our suggested Central and Eastern group tours, if you don't see what you're looking for, we'll tailor make an itinerary to your exact requirements.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4a92c219-69e6-43c4-be1e-d04620e2f5ca",
    "mediaKey": "ef4fefe4-ccbf-43d6-98e2-a38bd5bcebc1",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Central and Eastern Europe]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Central and Eastern Europe]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>