<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2048575-06b0-4d03-a28c-85945242c3dc" Alias="Child Page 05" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage05</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T19:27:54</CreateDate>
    <NodeName Default="Child Page 05" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "acfc03c3-8ef0-4215-b22e-48d48e8e9cfe",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "4f2e7205-6f14-48cc-b977-76164b97c083",
      "values": [
        {
          "alias": "featurePropertyFeatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0e1809ed-9868-4a4f-bf8e-3c5770315e33",
              "mediaKey": "47d78429-4f94-42cc-89a8-daa249ba3e8d",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "6095ec65-ab31-4f8f-8f21-3a8d199a2d46",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "cadfa10e-0d85-4663-af7c-295072e12e39",
      "values": []
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "b78df78e-8761-4ebf-8c5e-1c7676b70b97",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "26993124-4b84-4dad-9b25-45c3cd04ad13",
      "values": []
    },
    {
      "contentTypeKey": "e85bbfdf-53b9-48f4-88d6-cae09a6d1f24",
      "key": "e5dc1398-4c5e-47f6-8fde-fb9f06808a75",
      "values": [
        {
          "alias": "featureSettingsEnableSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "727f9c0b-7588-4895-9638-51ac5309c38d",
      "values": []
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "e39ddb35-2fa4-45c3-b174-dce41dc251f2",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e587ded4-1aeb-47a6-851b-b416acc62595",
      "key": "a3d78e51-1396-4353-982b-0f55f2b62d4e",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6095ec65-ab31-4f8f-8f21-3a8d199a2d46",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4f2e7205-6f14-48cc-b977-76164b97c083",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "acfc03c3-8ef0-4215-b22e-48d48e8e9cfe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cadfa10e-0d85-4663-af7c-295072e12e39",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b78df78e-8761-4ebf-8c5e-1c7676b70b97",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6095ec65-ab31-4f8f-8f21-3a8d199a2d46",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "26993124-4b84-4dad-9b25-45c3cd04ad13",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "cadfa10e-0d85-4663-af7c-295072e12e39",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e39ddb35-2fa4-45c3-b174-dce41dc251f2",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "acfc03c3-8ef0-4215-b22e-48d48e8e9cfe",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e5dc1398-4c5e-47f6-8fde-fb9f06808a75",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "4f2e7205-6f14-48cc-b977-76164b97c083",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "727f9c0b-7588-4895-9638-51ac5309c38d",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b78df78e-8761-4ebf-8c5e-1c7676b70b97",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a3d78e51-1396-4353-982b-0f55f2b62d4e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 05]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "70604fd0-6b2c-4b3c-999f-374bcfe05015",
    "mediaKey": "47d78429-4f94-42cc-89a8-daa249ba3e8d",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 05]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 05]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>