<?xml version="1.0" encoding="utf-8"?>
<Content Key="db70ca6e-2766-4159-a4a7-8a99ae3fae3b" Alias="Child Page 02" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage02</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T19:12:13</CreateDate>
    <NodeName Default="Child Page 02" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "990921fc-3492-48c3-8650-27e0e6acab1a",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "b8042e29-b24d-4041-b8b2-d444123c542a",
      "values": [
        {
          "alias": "featurePropertyFeatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "54fb4140-72b6-4c23-8b3c-2da828a4aaa7",
              "mediaKey": "bede89a6-125d-4589-8930-06e4f3be0669",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "657da766-f329-4124-9a50-3129251cd3e2",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "dc5fb2fd-7371-4f8b-8bc9-6f545073ec08",
      "values": []
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "7af09e6b-2d78-43f9-ae97-75f376e48fda",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "7e297830-81bd-4b36-b4b9-04178d45b426",
      "values": []
    },
    {
      "contentTypeKey": "e85bbfdf-53b9-48f4-88d6-cae09a6d1f24",
      "key": "004fb7f9-b887-4949-bb92-a4dcfde4da5b",
      "values": [
        {
          "alias": "featureSettingsEnableSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "9c3d00d2-b0bb-4ed2-a80a-d5a9ca4ab6b0",
      "values": []
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "3ff55d1e-8c38-4301-a7e8-69cca8cba63c",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e587ded4-1aeb-47a6-851b-b416acc62595",
      "key": "0fa4d45f-f4ab-4ef0-8629-c451fec9bf8b",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "657da766-f329-4124-9a50-3129251cd3e2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b8042e29-b24d-4041-b8b2-d444123c542a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "990921fc-3492-48c3-8650-27e0e6acab1a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dc5fb2fd-7371-4f8b-8bc9-6f545073ec08",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7af09e6b-2d78-43f9-ae97-75f376e48fda",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "657da766-f329-4124-9a50-3129251cd3e2",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7e297830-81bd-4b36-b4b9-04178d45b426",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "dc5fb2fd-7371-4f8b-8bc9-6f545073ec08",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3ff55d1e-8c38-4301-a7e8-69cca8cba63c",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "990921fc-3492-48c3-8650-27e0e6acab1a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "004fb7f9-b887-4949-bb92-a4dcfde4da5b",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "b8042e29-b24d-4041-b8b2-d444123c542a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9c3d00d2-b0bb-4ed2-a80a-d5a9ca4ab6b0",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7af09e6b-2d78-43f9-ae97-75f376e48fda",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0fa4d45f-f4ab-4ef0-8629-c451fec9bf8b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "08fc2910-05b4-4326-8556-4f31358c3800",
    "mediaKey": "bede89a6-125d-4589-8930-06e4f3be0669",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>