<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f3d06f2-4c91-4df4-ae71-77b9168aadde" Alias="Child Page 03" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage03</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T07:40:46</CreateDate>
    <NodeName Default="Child Page 03" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "8bc78a6f-3fe5-4d62-9eac-22fa3c7bff99",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "11bd8c6e-d9c6-48fc-b66e-b73c783a4451",
      "values": [
        {
          "alias": "featurePropertyFeatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "78c86fdf-7dfd-41ee-98e2-063d75cb4d19",
              "mediaKey": "3a4cfe74-b81c-494b-b45e-18ba856bb671",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "e7ca6282-3025-421d-acd6-75f0352a7939",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "d0f3866c-5445-4e65-a9f1-9a38b1384efd",
      "values": []
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "50c8fba9-afde-446d-9da5-581766f89ca1",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "4eacbd3d-6edf-4f57-935a-9aa28268cac0",
      "values": []
    },
    {
      "contentTypeKey": "e85bbfdf-53b9-48f4-88d6-cae09a6d1f24",
      "key": "63498b22-f871-4b24-8ccc-9aec14fae7be",
      "values": [
        {
          "alias": "featureSettingsEnableSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b66e8029-9dd7-4f30-a63b-df87670e55a1",
      "values": []
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "8af7fd9d-3cd9-4410-a066-65bfc12c3d08",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e587ded4-1aeb-47a6-851b-b416acc62595",
      "key": "70d6314d-102d-4a6c-86fa-50d9f81cf6af",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e7ca6282-3025-421d-acd6-75f0352a7939",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11bd8c6e-d9c6-48fc-b66e-b73c783a4451",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8bc78a6f-3fe5-4d62-9eac-22fa3c7bff99",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d0f3866c-5445-4e65-a9f1-9a38b1384efd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "50c8fba9-afde-446d-9da5-581766f89ca1",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e7ca6282-3025-421d-acd6-75f0352a7939",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4eacbd3d-6edf-4f57-935a-9aa28268cac0",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d0f3866c-5445-4e65-a9f1-9a38b1384efd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "8af7fd9d-3cd9-4410-a066-65bfc12c3d08",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "8bc78a6f-3fe5-4d62-9eac-22fa3c7bff99",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "63498b22-f871-4b24-8ccc-9aec14fae7be",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "11bd8c6e-d9c6-48fc-b66e-b73c783a4451",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b66e8029-9dd7-4f30-a63b-df87670e55a1",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "50c8fba9-afde-446d-9da5-581766f89ca1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "70d6314d-102d-4a6c-86fa-50d9f81cf6af",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "bc8a3eba-2c2b-4822-bd2b-3410ebbcb688",
    "mediaKey": "3a4cfe74-b81c-494b-b45e-18ba856bb671",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>