<?xml version="1.0" encoding="utf-8"?>
<Content Key="a877f390-c2c0-45d6-ba35-f5bf3d707309" Alias="Destinations" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/Destinations</Path>
    <Trashed>false</Trashed>
    <ContentType>destinations</ContentType>
    <CreateDate>2026-04-15T07:17:47</CreateDate>
    <NodeName Default="Destinations" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aeafec78-a37f-4eb2-b04b-e3d7b696294c">destinations</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "70cff8bb-04de-46c6-a187-64abf3697953",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "690dd5dd-03a3-4ec1-8de3-16e3d9652736",
      "values": []
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "key": "1c94cdb4-81fc-48b1-b05b-6f16a12cd5c5",
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/01d2d230b88b4e5f9b59e9d4e3aa6210,umb://document/c8cbd4a821a042a3ab46244f75f2fc11,umb://document/8bedf265af804962a399b5b916fbd298,umb://document/744df4d0891f46be873dd247617afc8c,umb://document/0875b402b3034c87aab54cf26b882a09,umb://document/119e573de39840ebb87c5229d1edacaf,umb://document/b3d15c3028d04b4aabd614895c13d4fc,umb://document/83ad0498300342e484ca3773a2c0d518,umb://document/fae99f1fdca04bae9e6454ae1c55ee2f,umb://document/b5b563bf45fb44898f85d19b4bce71a1,umb://document/4ff81e33e72a42acacacda3bda6522ec,umb://document/617c1de9c2194027bb39688863264cca,umb://document/a4cfc4e4b89b4d678a92e29c8a3d183a"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "b201611d-8015-4d8e-bc11-67e2877a2a5b",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "79fc91a6-8edc-4a19-aa18-1fbaa5dfc8c5",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "260d4a3a-12d1-4a42-a50f-bafdfea336f9",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "c998a7e3-f336-45ee-9cff-b19c6b975d1b",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "2bbaf485-ae2c-41d9-9f4e-a2d2ca40673c",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "da9233bd-9489-4c35-a3f7-a84022e0ae86",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "80af5d94-6bfd-49ad-bd6d-41b0e388c44d",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "itemsLayoutColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "e6347313-e194-4ff3-b358-56f8b3a8c33d",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "3f875930-b23e-4690-bae9-e74fd04c6df5",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "70cff8bb-04de-46c6-a187-64abf3697953",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "690dd5dd-03a3-4ec1-8de3-16e3d9652736",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1c94cdb4-81fc-48b1-b05b-6f16a12cd5c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b201611d-8015-4d8e-bc11-67e2877a2a5b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "79fc91a6-8edc-4a19-aa18-1fbaa5dfc8c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "260d4a3a-12d1-4a42-a50f-bafdfea336f9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c998a7e3-f336-45ee-9cff-b19c6b975d1b",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "690dd5dd-03a3-4ec1-8de3-16e3d9652736",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "da9233bd-9489-4c35-a3f7-a84022e0ae86",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b201611d-8015-4d8e-bc11-67e2877a2a5b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e6347313-e194-4ff3-b358-56f8b3a8c33d",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "260d4a3a-12d1-4a42-a50f-bafdfea336f9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "c998a7e3-f336-45ee-9cff-b19c6b975d1b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "79fc91a6-8edc-4a19-aa18-1fbaa5dfc8c5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3f875930-b23e-4690-bae9-e74fd04c6df5",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "1c94cdb4-81fc-48b1-b05b-6f16a12cd5c5",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "80af5d94-6bfd-49ad-bd6d-41b0e388c44d",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "70cff8bb-04de-46c6-a187-64abf3697953",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2bbaf485-ae2c-41d9-9f4e-a2d2ca40673c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Destinations]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Destinations]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Destinations]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>