<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bedf265-af80-4962-a399-b5b916fbd298" Alias="France" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/France</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-13T15:21:18</CreateDate>
    <NodeName Default="France" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "a1f2c3d4-0005-4e5f-9b59-e9d4e3aa0005",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "a1f2c3d4-0001-4e5f-9b59-e9d4e3aa0001",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "291f3db1-c34a-4c7c-8a5e-8f762b95b939",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "1949395a-f578-40e3-8538-60c601b90538",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "ae1662a8-90a0-4e09-8f4a-baed6e75085d",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "8a732e05-6437-4fc9-855e-2618e0b63c00",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "7e436522-0993-40f3-bfc0-7555eb2ccb47",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a1f2c3d4-0002-4e5f-9b59-e9d4e3aa0002",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "514622a6-1a1f-4b01-a736-14eb9055e665",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "a1f2c3d4-0006-4e5f-9b59-e9d4e3aa0006",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "e844a7ea-e2bd-4d4d-bec6-027c8e96a008",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "ff240561-6fc2-4d2d-bbba-684b8aa40bf3",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a1f2c3d4-0005-4e5f-9b59-e9d4e3aa0005",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1f2c3d4-0001-4e5f-9b59-e9d4e3aa0001",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "291f3db1-c34a-4c7c-8a5e-8f762b95b939",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1949395a-f578-40e3-8538-60c601b90538",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ae1662a8-90a0-4e09-8f4a-baed6e75085d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8a732e05-6437-4fc9-855e-2618e0b63c00",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e436522-0993-40f3-bfc0-7555eb2ccb47",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a1f2c3d4-0001-4e5f-9b59-e9d4e3aa0001",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a1f2c3d4-0002-4e5f-9b59-e9d4e3aa0002",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7e436522-0993-40f3-bfc0-7555eb2ccb47",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ff240561-6fc2-4d2d-bbba-684b8aa40bf3",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "ae1662a8-90a0-4e09-8f4a-baed6e75085d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "8a732e05-6437-4fc9-855e-2618e0b63c00",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1949395a-f578-40e3-8538-60c601b90538",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e844a7ea-e2bd-4d4d-bec6-027c8e96a008",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "291f3db1-c34a-4c7c-8a5e-8f762b95b939",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "514622a6-1a1f-4b01-a736-14eb9055e665",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a1f2c3d4-0005-4e5f-9b59-e9d4e3aa0005",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a1f2c3d4-0006-4e5f-9b59-e9d4e3aa0006",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Browse our suggested France group tours below, or if you don't see what you're looking for, we'll tailor make an itinerary to your exact requirements.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "31aa2a30-eb00-45be-a869-3bae048fe3e0",
    "mediaKey": "9b98e59d-9069-42f3-9f52-e695735f1688",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[France]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[France]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>