<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8a5605c-38a4-4bae-aa34-41363ef7a8c8" Alias="[Group Tour Template]" Level="3">
  <Info>
    <Parent Key="b4e23226-0aed-487e-b26f-afb80cf992d8">Tours for Groups</Parent>
    <Path>/Home/ToursForGroups/GroupTourTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>groupTour</ContentType>
    <CreateDate>2026-03-12T18:04:23</CreateDate>
    <NodeName Default="[Group Tour Template]" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d17fc046-ee5a-4f82-901e-9e9b7601cc17">groupTour</Template>
  </Info>
  <Properties>
    <blockGridGroupTour>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "a1b2c3d4-3333-4aaa-b333-333333333333",
      "values": []
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "a1b2c3d4-ffff-4aaa-bfff-ffffffffffff",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "a1b2c3d4-1111-4aaa-b111-111111111111",
      "values": []
    },
    {
      "contentTypeKey": "34e5aa3b-db10-40a1-893d-79e98cd3f2f4",
      "key": "a1b2c3d4-9999-4aaa-b999-999999999999",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Features"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cul\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "What\u0027s included in this tour is entirely yours to customise to suit your group\u0027s budget and preferences. Here is what we\u0027ve suggested:"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "1d09b5af-b95a-4af5-b8f2-323db029e817",
      "key": "a1b2c3d4-bbbb-4aaa-bbbb-bbbbbbbbbbbb",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accommodation"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E[Accommodation]\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Where you stay is entirely yours to choose to match your group\u0027s preferences. Here is our suggested accommodation:"
        }
      ]
    },
    {
      "contentTypeKey": "2d9b0603-29ef-423a-8d3e-d9c039d3d7b1",
      "key": "a1b2c3d4-dddd-4aaa-bddd-dddddddddddd",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sights"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E[Sights]\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The places your group visits are exclusively yours to decide. Here are the main sights we\u0027ve suggested:"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "de535189-b468-4594-8118-f303bac50e3c",
      "key": "ec4f7c27-d156-460f-b3d5-7f02358520a8",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tailor your sights"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E[Sights]\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\nIf you\u0027d prefer to visit different places, or if you\u0027d like to add extra attractions that match your group\u0027s specific interests, here are some more suggestions:"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "837beecf-4239-4b3d-b683-1d611af3da2e",
      "key": "4d20da90-6469-44ea-ad7d-376b426715d9",
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch3 data-pm-slice=\u00220 0 []\u0022\u003E[Day 1]\u003C/h3\u003E\u003Cp\u003E[Day 1 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 2]\u003C/h3\u003E\u003Cp\u003E[Day 2 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 3]\u003C/h3\u003E\u003Cp\u003E[Day 3 Itinerary]\u003C/p\u003E\u003Ch3\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Suggested Itinerary"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Your itinerary is exclusively yours to tailor to suit your group\u0027s interests and profile of your members. Here is our suggested itinerary:"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Remember, every element of this itinerary can be adjusted. If you\u0027d like to change the days, add different activities, or adjust the pace, just let us know."
        }
      ]
    },
    {
      "contentTypeKey": "c4b3a613-0d2c-4470-8d06-f7efea52d6e0",
      "key": "b842f02b-493f-465b-892c-441327cde3b6",
      "values": [
        {
          "alias": "featurePropertyNavigationInPageItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "4d20da90-6469-44ea-ad7d-376b426715d9",
            "a1b2c3d4-9999-4aaa-b999-999999999999",
            "a1b2c3d4-bbbb-4aaa-bbbb-bbbbbbbbbbbb",
            "a1b2c3d4-dddd-4aaa-bddd-dddddddddddd",
            "1513f085-1a21-48ac-85b9-489f828e8280"
          ]
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "In this page"
        }
      ]
    },
    {
      "contentTypeKey": "b773f1ac-4538-4d0a-a1ff-85918c8edbf0",
      "key": "1513f085-1a21-48ac-85b9-489f828e8280",
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E[Extras]\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Extras"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The costs on top of your tour price can be tailored to suit your group\u0027s needs. Here is what we\u0027ve listed as extras:"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Many of these can be included in the tour price if you\u0027d prefer. For example, we can include entrance fees, gratuities, or audio headphones as part of your overall cost."
        }
      ]
    },
    {
      "contentTypeKey": "8ffbbac4-a391-4a96-9aef-825b9d06eb58",
      "key": "3a996dd6-a206-4c9d-86a1-62a1cd2ea769",
      "values": [
        {
          "alias": "featurePropertyFeatureImages",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c527319-391d-4342-ab11-11702503af8b",
              "mediaKey": "e0e306f4-9e5e-448d-a05e-3587cada0e77",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ad3125e3-0d51-4628-9b98-c676a85d590a",
      "key": "ae72a0fb-2959-4ea6-80f3-f092739e3c8b",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "d1f93922-e5f1-4dfd-8c6d-eac9b54ca6ea",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "9cb69c20-84d3-4825-a10e-119dfffb429f",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "1a26719b-959e-41ed-8eaa-060439cbb290",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "2f2d5d22-8c25-4a61-ac7d-9b6ecdbccc1c",
      "values": []
    },
    {
      "contentTypeKey": "bcf2d360-5707-4244-82d1-16c3bd7262d6",
      "key": "305da69b-5ba7-4995-9786-8d2a5de25f34",
      "values": []
    },
    {
      "contentTypeKey": "6e95c250-2a6b-4652-b3a0-3ed6039986fd",
      "key": "e044f174-ff17-41b3-9f2d-1c516af02427",
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cul\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "If you\u0027d like to adjust what\u0027s included, perhaps a different hotel standard, more or fewer days, or different excursions, here are some alternatives:"
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tailor your Features"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "38bfcf73-9024-4151-9e78-c86a2e30399c",
      "key": "5c9bcc65-34ec-47f8-bb33-e59f1e5c9f5c",
      "values": []
    },
    {
      "contentTypeKey": "a35461d4-036a-410e-a923-7d7b3beacdb5",
      "key": "6b5eae6f-8746-4e2b-89e1-f13aab09c1a9",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tailor your accommodation"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "If you\u0027d prefer different accommodation, perhaps a different hotel standard, location, or basis of accommodation, here are some alternative choices:"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp data-pm-slice=\u00221 1 []\u0022\u003E[Accommodation]\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a1b2c3d4-2222-4aaa-b222-222222222222",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a1b2c3d4-aaaa-4aaa-baaa-aaaaaaaaaaaa",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a1b2c3d4-cccc-4aaa-bccc-cccccccccccc",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a1b2c3d4-eeee-4aaa-beee-eeeeeeeeeeee",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "e7c1fdd4-7dc6-48b7-8637-8dde23390df4",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "d1a2d611-3d5f-45d3-a918-32de35a60e37",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e85bbfdf-53b9-48f4-88d6-cae09a6d1f24",
      "key": "f5040acf-f74e-4fd5-9929-abf924ae538a",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureSettingsEnableSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "ab27f990-db6c-4542-b91d-5d35c936a4c7",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "f6242a3c-17a1-46b0-b97c-a8f00d86dce0",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "25e2980f-96a1-4466-ac82-1b6ae649ca03",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "a1b2c3d4-4444-4aaa-b444-444444444444",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8668d11-6948-4341-9279-4389dc4bb5ac",
      "key": "b1c2d3e4-1111-4bbb-a111-111111111111",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutSecondaryAreaSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutTertiaryAreaSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "hideOrDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutPrimaryAreaColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "dfe87ed4-e7b8-4b5d-bf73-f7eaa4050e89",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "38245cc9-5174-47fe-9739-c087caa91daa",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "525a8b3f-4532-4f7a-9fbc-1860eb5cdba8",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "fee7846b-30b1-4970-96d9-575ada83d833",
      "values": [
        {
          "alias": "featureBorderColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a1b2c3d4-3333-4aaa-b333-333333333333",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-ffff-4aaa-bfff-ffffffffffff",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-1111-4aaa-b111-111111111111",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-9999-4aaa-b999-999999999999",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-bbbb-4aaa-bbbb-bbbbbbbbbbbb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-dddd-4aaa-bddd-dddddddddddd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec4f7c27-d156-460f-b3d5-7f02358520a8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4d20da90-6469-44ea-ad7d-376b426715d9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b842f02b-493f-465b-892c-441327cde3b6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1513f085-1a21-48ac-85b9-489f828e8280",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3a996dd6-a206-4c9d-86a1-62a1cd2ea769",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ae72a0fb-2959-4ea6-80f3-f092739e3c8b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d1f93922-e5f1-4dfd-8c6d-eac9b54ca6ea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9cb69c20-84d3-4825-a10e-119dfffb429f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1a26719b-959e-41ed-8eaa-060439cbb290",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2f2d5d22-8c25-4a61-ac7d-9b6ecdbccc1c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "305da69b-5ba7-4995-9786-8d2a5de25f34",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e044f174-ff17-41b3-9f2d-1c516af02427",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5c9bcc65-34ec-47f8-bb33-e59f1e5c9f5c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6b5eae6f-8746-4e2b-89e1-f13aab09c1a9",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a1b2c3d4-1111-4aaa-b111-111111111111",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a1b2c3d4-2222-4aaa-b222-222222222222",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a1b2c3d4-3333-4aaa-b333-333333333333",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a1b2c3d4-4444-4aaa-b444-444444444444",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "3a996dd6-a206-4c9d-86a1-62a1cd2ea769",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f6242a3c-17a1-46b0-b97c-a8f00d86dce0",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d1f93922-e5f1-4dfd-8c6d-eac9b54ca6ea",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "25e2980f-96a1-4466-ac82-1b6ae649ca03",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "1a26719b-959e-41ed-8eaa-060439cbb290",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "2f2d5d22-8c25-4a61-ac7d-9b6ecdbccc1c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          }
        ],
        "columnSpan": 12,
        "contentKey": "9cb69c20-84d3-4825-a10e-119dfffb429f",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "dfe87ed4-e7b8-4b5d-bf73-f7eaa4050e89",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b842f02b-493f-465b-892c-441327cde3b6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f5040acf-f74e-4fd5-9929-abf924ae538a",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "ae72a0fb-2959-4ea6-80f3-f092739e3c8b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "4d20da90-6469-44ea-ad7d-376b426715d9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d1a2d611-3d5f-45d3-a918-32de35a60e37",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "a1b2c3d4-9999-4aaa-b999-999999999999",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a1b2c3d4-aaaa-4aaa-baaa-aaaaaaaaaaaa",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "e044f174-ff17-41b3-9f2d-1c516af02427",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "525a8b3f-4532-4f7a-9fbc-1860eb5cdba8",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "a1b2c3d4-bbbb-4aaa-bbbb-bbbbbbbbbbbb",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a1b2c3d4-cccc-4aaa-bccc-cccccccccccc",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "6b5eae6f-8746-4e2b-89e1-f13aab09c1a9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "fee7846b-30b1-4970-96d9-575ada83d833",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "a1b2c3d4-dddd-4aaa-bddd-dddddddddddd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a1b2c3d4-eeee-4aaa-beee-eeeeeeeeeeee",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "ec4f7c27-d156-460f-b3d5-7f02358520a8",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e7c1fdd4-7dc6-48b7-8637-8dde23390df4",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "1513f085-1a21-48ac-85b9-489f828e8280",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ab27f990-db6c-4542-b91d-5d35c936a4c7",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "305da69b-5ba7-4995-9786-8d2a5de25f34",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "38245cc9-5174-47fe-9739-c087caa91daa",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "5c9bcc65-34ec-47f8-bb33-e59f1e5c9f5c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a1b2c3d4-ffff-4aaa-bfff-ffffffffffff",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b1c2d3e4-1111-4bbb-a111-111111111111",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGridGroupTour>
    <destinations>
      <Value><![CDATA[]]></Value>
    </destinations>
    <pageDescription>
      <Value><![CDATA[[Page Description]]]></Value>
    </pageDescription>
    <pagePropertyTourDuration>
      <Value><![CDATA[]]></Value>
    </pagePropertyTourDuration>
    <pagePropertyTourPriceFrom>
      <Value><![CDATA[]]></Value>
    </pagePropertyTourPriceFrom>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4288546d-82fc-4790-81ec-8d13139da6c8",
    "mediaKey": "e0e306f4-9e5e-448d-a05e-3587cada0e77",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[[Page Title]]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[[Page Title Short]]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>