<?xml version="1.0" encoding="utf-8"?>
<Content Key="119e573d-e398-40eb-b87c-5229d1edacaf" Alias="Holland" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/Holland</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-13T18:28:27</CreateDate>
    <NodeName Default="Holland" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "c97330b6-c822-4130-b68a-96125d6cc5a5",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "0b0c88f2-996c-42b2-965b-b366ea9e93fd",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "2973bf9c-b7fb-4e93-bef8-2f27b3ea31aa",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "0cf853d3-1b30-4bee-9cd6-c14248471a6e",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "2d251476-e605-4567-b95d-47fe8339c2fb",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "e1dc6e62-1b90-48db-b94e-f7acb94555f7",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "f86a9e13-88cf-4fbf-a098-a43fcd15775d",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b32a8482-30ac-404a-8181-42f673368fa8",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "4b9654c0-b1d3-4c9e-ac32-968047a729ee",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "c1d4dc78-5054-472e-b3c4-93d9903fc846",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "331580cd-aedb-44fd-bb0b-a4e8b4324538",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "0cb41f52-f9ce-45c6-8903-c3ce4a52a4e4",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c97330b6-c822-4130-b68a-96125d6cc5a5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0b0c88f2-996c-42b2-965b-b366ea9e93fd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2973bf9c-b7fb-4e93-bef8-2f27b3ea31aa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0cf853d3-1b30-4bee-9cd6-c14248471a6e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2d251476-e605-4567-b95d-47fe8339c2fb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e1dc6e62-1b90-48db-b94e-f7acb94555f7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f86a9e13-88cf-4fbf-a098-a43fcd15775d",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0b0c88f2-996c-42b2-965b-b366ea9e93fd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b32a8482-30ac-404a-8181-42f673368fa8",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "0cf853d3-1b30-4bee-9cd6-c14248471a6e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "331580cd-aedb-44fd-bb0b-a4e8b4324538",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "e1dc6e62-1b90-48db-b94e-f7acb94555f7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "f86a9e13-88cf-4fbf-a098-a43fcd15775d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2d251476-e605-4567-b95d-47fe8339c2fb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0cb41f52-f9ce-45c6-8903-c3ce4a52a4e4",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "2973bf9c-b7fb-4e93-bef8-2f27b3ea31aa",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4b9654c0-b1d3-4c9e-ac32-968047a729ee",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c97330b6-c822-4130-b68a-96125d6cc5a5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c1d4dc78-5054-472e-b3c4-93d9903fc846",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Browse our suggested Holland group tours below, or if you don't see what you're looking for, we'll tailor make an itinerary to your exact requirements.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "2dce84fe-84cb-493e-a282-88dc2a327ec3",
    "mediaKey": "79961e88-44a9-479a-a86d-4380900ab6a4",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Holland]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Holland]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>