<?xml version="1.0" encoding="utf-8"?>
<Content Key="83ad0498-3003-42e4-84ca-3773a2c0d518" Alias="Ireland" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/Ireland</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-13T18:30:12</CreateDate>
    <NodeName Default="Ireland" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "178664b7-5fcb-41c3-ac84-543066c60a30",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "0541d599-9abb-4521-a8f7-b4d61133f38b",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "f38760d1-76d7-4266-8edd-ce2760e92963",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "7fa94c2f-133a-4fd2-b83e-a0562897b759",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "cfaf88e2-9c76-4f67-a74a-51944297b211",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "6555b9dc-41c5-4aa5-af94-daa230359021",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "8440cdef-b736-4762-8907-8ae178973e55",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "403b9f64-ddea-4170-96bb-17eb3acb4739",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "eba81c61-e6e1-4f6b-9b87-8b6cd406f7dc",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "33490b7f-8aea-43fe-a6f0-df0dd3b15f25",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "2284b884-5b23-4175-8895-8e311ef367eb",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "f8588f45-db82-44f4-a193-13ed7ceb96f5",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "178664b7-5fcb-41c3-ac84-543066c60a30",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0541d599-9abb-4521-a8f7-b4d61133f38b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f38760d1-76d7-4266-8edd-ce2760e92963",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7fa94c2f-133a-4fd2-b83e-a0562897b759",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cfaf88e2-9c76-4f67-a74a-51944297b211",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6555b9dc-41c5-4aa5-af94-daa230359021",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8440cdef-b736-4762-8907-8ae178973e55",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0541d599-9abb-4521-a8f7-b4d61133f38b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "403b9f64-ddea-4170-96bb-17eb3acb4739",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7fa94c2f-133a-4fd2-b83e-a0562897b759",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2284b884-5b23-4175-8895-8e311ef367eb",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "6555b9dc-41c5-4aa5-af94-daa230359021",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "8440cdef-b736-4762-8907-8ae178973e55",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "cfaf88e2-9c76-4f67-a74a-51944297b211",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f8588f45-db82-44f4-a193-13ed7ceb96f5",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "f38760d1-76d7-4266-8edd-ce2760e92963",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "eba81c61-e6e1-4f6b-9b87-8b6cd406f7dc",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "178664b7-5fcb-41c3-ac84-543066c60a30",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "33490b7f-8aea-43fe-a6f0-df0dd3b15f25",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Browse our suggested Ireland group tours below, or if you don't see what you're looking for, we'll tailor make an itinerary to your exact requirements.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "f6b47c66-96e9-4201-8d00-efbc7b0396b2",
    "mediaKey": "37c4561c-273b-444f-99c6-cca31277b2ac",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Ireland]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Ireland]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>