<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8cbd4a8-21a0-42a3-ab46-244f75f2fc11" Alias="Italy" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/Italy</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-13T15:13:13</CreateDate>
    <NodeName Default="Italy" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "9c7b4993-6ff8-4e57-98c2-f86e37ac6657",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "e233ae17-5c07-4312-87d1-5bb9719cd6e4",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "fcce6ce5-b204-4190-be2f-f05efa0e99df",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "da93b37e-13aa-49b7-9cf9-6e3cfebe8ac3",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "61d3f5ca-1fe1-4f2c-a0b7-737b08f8e7f3",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "ca60d0f1-9d34-4655-99cf-453f64da978c",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "87e898b0-4823-48c8-8258-d1fd98f0c0ae",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "49a5f140-8262-4e9b-af5a-b000eb20c496",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "7e0c95d4-3ec8-4a91-b58e-bea846b35496",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "25c1c286-77a1-4e96-a88c-681158159ca7",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "2e529118-2a30-4d6b-835b-b6adfa9e4662",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "70d7b812-cf78-4f8b-ad6c-4c804fb35122",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e233ae17-5c07-4312-87d1-5bb9719cd6e4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9c7b4993-6ff8-4e57-98c2-f86e37ac6657",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fcce6ce5-b204-4190-be2f-f05efa0e99df",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da93b37e-13aa-49b7-9cf9-6e3cfebe8ac3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "61d3f5ca-1fe1-4f2c-a0b7-737b08f8e7f3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ca60d0f1-9d34-4655-99cf-453f64da978c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "87e898b0-4823-48c8-8258-d1fd98f0c0ae",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e233ae17-5c07-4312-87d1-5bb9719cd6e4",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "49a5f140-8262-4e9b-af5a-b000eb20c496",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "da93b37e-13aa-49b7-9cf9-6e3cfebe8ac3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2e529118-2a30-4d6b-835b-b6adfa9e4662",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "ca60d0f1-9d34-4655-99cf-453f64da978c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "87e898b0-4823-48c8-8258-d1fd98f0c0ae",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "61d3f5ca-1fe1-4f2c-a0b7-737b08f8e7f3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "70d7b812-cf78-4f8b-ad6c-4c804fb35122",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "fcce6ce5-b204-4190-be2f-f05efa0e99df",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7e0c95d4-3ec8-4a91-b58e-bea846b35496",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "9c7b4993-6ff8-4e57-98c2-f86e37ac6657",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "25c1c286-77a1-4e96-a88c-681158159ca7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Placeholder description for Italy tours. To be written.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "0d6ef1d2-350e-448c-acd4-15daddf85f55",
    "mediaKey": "e1b73297-8b1e-477f-9dbd-64cc09b988e1",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Italy]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Italy]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>