<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd531492-6cc7-4629-94a0-ff13d8a5493d" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-06-02T16:29:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <accreditationImage>
      <Value><![CDATA[[
  {
    "key": "b6203bed-844d-4f7e-aa51-93d5fc449ff8",
    "mediaKey": "76eb623c-53c0-48de-ab0f-4816bffea0ad",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </accreditationImage>
    <accreditationImageLink>
      <Value><![CDATA[[
  {
    "name": "www.caa.co.uk",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://www.caa.co.uk/atol-protection/check-an-atol/search-atol-holders/",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </accreditationImageLink>
    <accreditationText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ETailored Travel holds a current ATOL licence.\u003Cbr\u003EAir holiday packages shown are ATOL protected by the Civil Aviation Authority.\u003Cbr\u003EOur ATOL number is \u003Ca data-router-slot=\u0022disabled\u0022 data-anchor=\u0022?catid=1\u0026amp;pagetype=65\u0026amp;appid=2\u0026amp;mode=detailnosummary\u0026amp;atolNbr=5605\u0026amp;mbrId=\u0022 href=\u0022https://publicapps.caa.co.uk/modalapplication.aspx?catid=1\u0026amp;pagetype=65\u0026amp;appid=2\u0026amp;mode=detailnosummary\u0026amp;atolNbr=5605\u0026amp;mbrId=\u0022 target=\u0022_blank\u0022 title=\u0022ATOL 5605\u0022 type=\u0022external\u0022\u003EATOL 5605\u003C/a\u003E.\u003C/p\u003E"
}]]></Value>
    </accreditationText>
    <companyAddressLine1>
      <Value><![CDATA[12 Jamaica Road]]></Value>
    </companyAddressLine1>
    <companyAddressLocality>
      <Value><![CDATA[London]]></Value>
    </companyAddressLocality>
    <companyAddressPostcode>
      <Value><![CDATA[SE1 2RN]]></Value>
    </companyAddressPostcode>
    <companyEmailAddress>
      <Value><![CDATA[info@tailored-travel.co.uk]]></Value>
    </companyEmailAddress>
    <companyPhoneNumber>
      <Value><![CDATA[020 7064 4970]]></Value>
    </companyPhoneNumber>
    <copyright>
      <Value><![CDATA[Copyright Tailored Travel]]></Value>
    </copyright>
    <logo>
      <Value><![CDATA[[
  {
    "key": "816d2aa3-97aa-4695-a8c8-09d16332e0e6",
    "mediaKey": "9ce870f9-58be-46cd-af0c-ec0f58fe86f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <siteName>
      <Value><![CDATA[Tailored Travel]]></Value>
    </siteName>
    <topNavigation>
      <Value><![CDATA[[
  {
    "key": "bf97819e-c428-4f49-992f-6bb24e52e7fa",
    "name": "Home",
    "url": null,
    "icon": "icon-home color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/bf97819ec4284f49992f6bb24e52e7fa",
    "contentKey": "d5b1563d-db6b-42bc-b4bf-950f33894ad2",
    "anchor": "",
    "description": null,
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "bf97819e-c428-4f49-992f-6bb24e52e7fa",
    "depth": 1
  },
  {
    "key": "e95bf9ac-cf4c-4e7c-92da-0d02defec737",
    "name": "Tours for Groups",
    "url": "/tours-for-groups/",
    "icon": "icon-newspaper color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/e95bf9accf4c4e7c92da0d02defec737",
    "contentKey": "b4e23226-0aed-487e-b26f-afb80cf992d8",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1,
    "unique": "e95bf9ac-cf4c-4e7c-92da-0d02defec737"
  },
  {
    "key": "178c2e64-113b-428d-8876-aab9ad5aeece",
    "name": "Tours for Individuals",
    "url": "/tours-for-individuals/",
    "icon": "icon-newspaper color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/178c2e64113b428d8876aab9ad5aeece",
    "contentKey": "c88d61a4-378c-43ea-9a2d-1ad5673e9f38",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  },
  {
    "key": "4c24533c-5112-4f36-9424-fc5ab2c7bd8c",
    "name": "Group Organisers",
    "url": "/group-organisers/",
    "icon": "icon-newspaper color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/4c24533c51124f369424fc5ab2c7bd8c",
    "contentKey": "86c1a4d5-8522-4047-8b4e-77155aa1fd38",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1,
    "unique": "4c24533c-5112-4f36-9424-fc5ab2c7bd8c"
  },
  {
    "key": "1279c1cf-d794-4ede-a3b7-759935791ad0",
    "name": "About",
    "url": null,
    "icon": "icon-newspaper color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/1279c1cfd7944edea3b7759935791ad0",
    "contentKey": "6e199eee-4f90-4a1c-90ce-867d332ff091",
    "anchor": "",
    "description": null,
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "1279c1cf-d794-4ede-a3b7-759935791ad0",
    "depth": 1,
    "noreferrer": "",
    "noopener": "",
    "includeChildNodes": false
  },
  {
    "key": "82842557-43d7-4bb5-9360-ab969c9b1436",
    "name": "Contact Us",
    "url": "/contact-us/",
    "icon": "icon-newspaper color-black",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/8284255743d74bb59360ab969c9b1436",
    "contentKey": "4ab02a38-37fa-4682-b4e2-bfc62ede6987",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1,
    "unique": "82842557-43d7-4bb5-9360-ab969c9b1436"
  }
]]]></Value>
    </topNavigation>
  </Properties>
</Content>