<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ff81e33-e72a-42ac-acac-da3bda6522ec" Alias="Southern Europe" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/SouthernEurope</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-04-13T18:48:14</CreateDate>
    <NodeName Default="Southern Europe" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "a02e1e28-19ee-4813-84d6-4eba2595d307",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "68f754f7-3191-4202-839b-5aa4230bc5ab",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "5de0bbe4-af9c-4c22-8685-d19691658f96",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "75dc285a-efad-4aff-8137-b6da119657b3",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "c7210fee-f0f4-4582-afa8-0f4336d02a3b",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "e8de2ca5-6d8b-4310-877f-d776fd1ab64f",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "12f4d4b9-af34-48ad-8bfc-7d4151ffa948",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "827440d5-eb13-44da-931d-3efdeb51f31f",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "5a889e72-a78a-4b57-81ed-5166cdc89f97",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "ae7b450a-d944-49a1-b97d-a4821abc9356",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "126232b7-fda7-4fd8-bb54-22ef65b7c61d",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "067a3e30-a986-4b18-a0a6-036c0ef1572e",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a02e1e28-19ee-4813-84d6-4eba2595d307",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "68f754f7-3191-4202-839b-5aa4230bc5ab",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5de0bbe4-af9c-4c22-8685-d19691658f96",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "75dc285a-efad-4aff-8137-b6da119657b3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c7210fee-f0f4-4582-afa8-0f4336d02a3b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e8de2ca5-6d8b-4310-877f-d776fd1ab64f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "12f4d4b9-af34-48ad-8bfc-7d4151ffa948",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "68f754f7-3191-4202-839b-5aa4230bc5ab",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "827440d5-eb13-44da-931d-3efdeb51f31f",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "75dc285a-efad-4aff-8137-b6da119657b3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "126232b7-fda7-4fd8-bb54-22ef65b7c61d",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "e8de2ca5-6d8b-4310-877f-d776fd1ab64f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "12f4d4b9-af34-48ad-8bfc-7d4151ffa948",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c7210fee-f0f4-4582-afa8-0f4336d02a3b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "067a3e30-a986-4b18-a0a6-036c0ef1572e",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "5de0bbe4-af9c-4c22-8685-d19691658f96",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5a889e72-a78a-4b57-81ed-5166cdc89f97",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a02e1e28-19ee-4813-84d6-4eba2595d307",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ae7b450a-d944-49a1-b97d-a4821abc9356",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Browse our suggested Southern Europe group tours, or if you don't see what you're looking for, we'll tailor make an itinerary to your exact requirements.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "f452f15c-0308-4400-8003-3df70ee2ae83",
    "mediaKey": "4dfb8281-76f0-4eb9-924e-3fa7c1d6398a",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Southern Europe]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Southern Europe]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>