<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd9b7287-a3ff-418e-893d-b84df7de7500" Alias="Tailored Tours" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/TailoredTours</Path>
    <Trashed>false</Trashed>
    <ContentType>tailoredTours</ContentType>
    <CreateDate>2026-02-17T12:28:35</CreateDate>
    <NodeName Default="Tailored Tours" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7f033434-9b02-41bd-b4a6-76ed44723c8f">tailoredTours</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "8d5653ab-269f-4d25-9434-a9988b4e206b",
      "values": []
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "7aced340-2060-4875-a316-23cea789dbf1",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "9d804484-dc6e-4aa8-931c-79f6e0c04d96",
      "values": []
    },
    {
      "contentTypeKey": "420d1288-9016-4ddd-b200-b289c5aaeb96",
      "key": "83c2544f-a435-4197-b13d-82d84d7baec1",
      "values": []
    },
    {
      "contentTypeKey": "dc76bec1-8800-45d8-b765-20b0d14068dd",
      "key": "39a1780d-ef32-4a2c-a4d1-04861e0589a9",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "7a6a3433-a13f-4dde-85cb-3c7c572a16e7",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a80ce5d4-81ad-4a8f-97c2-b345bc102474",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "7a6d99f3-efb2-4e46-a86b-d39afa7f545e",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "bad8db60-1ae3-4fa8-9236-fa81f2ca9eba",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e4725cb7-836d-4f09-b281-ae4ae386042d",
      "key": "0c1b1dbd-1eb3-447b-bb33-ee99c54b8b97",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "949c47c7-4f4b-40b8-b723-f10ab8fc590a",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "1de50898-287b-46b0-be81-d84cb341303f",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8d5653ab-269f-4d25-9434-a9988b4e206b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7aced340-2060-4875-a316-23cea789dbf1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9d804484-dc6e-4aa8-931c-79f6e0c04d96",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "83c2544f-a435-4197-b13d-82d84d7baec1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "39a1780d-ef32-4a2c-a4d1-04861e0589a9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7a6a3433-a13f-4dde-85cb-3c7c572a16e7",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "9d804484-dc6e-4aa8-931c-79f6e0c04d96",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7a6d99f3-efb2-4e46-a86b-d39afa7f545e",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7a6a3433-a13f-4dde-85cb-3c7c572a16e7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1de50898-287b-46b0-be81-d84cb341303f",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "39a1780d-ef32-4a2c-a4d1-04861e0589a9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "949c47c7-4f4b-40b8-b723-f10ab8fc590a",
                "settingsUdi": null
              }
            ],
            "key": "bcede4d7-7de0-4338-948c-53e4ddf8f1e3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "83c2544f-a435-4197-b13d-82d84d7baec1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0c1b1dbd-1eb3-447b-bb33-ee99c54b8b97",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7aced340-2060-4875-a316-23cea789dbf1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a80ce5d4-81ad-4a8f-97c2-b345bc102474",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "8d5653ab-269f-4d25-9434-a9988b4e206b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bad8db60-1ae3-4fa8-9236-fa81f2ca9eba",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[View your Tailored Tour details here including your Itinerary, Features, Accommodation, Sights and Group Organiser details.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Your Tour]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Your Tour]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>