<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ff642d8-984d-4157-b5e4-5fa7d334ab88" Alias="[Tailored Tour Template]" Level="3">
  <Info>
    <Parent Key="dd9b7287-a3ff-418e-893d-b84df7de7500">Tailored Tours</Parent>
    <Path>/Home/TailoredTours/TailoredTourTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>tailoredTour</ContentType>
    <CreateDate>2026-02-25T21:15:41</CreateDate>
    <NodeName Default="[Tailored Tour Template]" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e5bff172-0dd5-4845-8971-b3eb86d6c458">tailoredTour</Template>
  </Info>
  <Properties>
    <blockGridTailoredTour>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "fff9a816-8041-4d76-bb5b-f404ac0dc27b",
      "values": []
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "9c1df68d-a953-42be-b05b-e2efe9ca6781",
      "values": []
    },
    {
      "contentTypeKey": "34e5aa3b-db10-40a1-893d-79e98cd3f2f4",
      "key": "8eb3c980-73a8-4ed2-b8b6-0e12dbd57cf1",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Features"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cul\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Feature]\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "1d09b5af-b95a-4af5-b8f2-323db029e817",
      "key": "65fc6fe6-0b5c-4e68-a8c3-6fbbc4ecefad",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accommodation"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E[Accommodation]\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a00f052f-2581-4b24-a04e-a49db5a87615",
      "key": "d65e6f24-2448-4c81-82a1-b2491269a737",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Organiser"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "For more information on this tour contact your Group Organiser"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EOnce you have received your Confirmation and Invoice, you can pay your final balance.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "2d9b0603-29ef-423a-8d3e-d9c039d3d7b1",
      "key": "7fdeab50-dd0e-4fe6-acae-fd111150f35e",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sights"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E[Sights]\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "c4b3a613-0d2c-4470-8d06-f7efea52d6e0",
      "key": "2a29f49b-cd95-4c0e-9407-6117e3182213",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "In this page"
        },
        {
          "alias": "featurePropertyNavigationInPageItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "9b673342-e9ed-4a3b-9513-ff87eed70337",
            "8eb3c980-73a8-4ed2-b8b6-0e12dbd57cf1",
            "65fc6fe6-0b5c-4e68-a8c3-6fbbc4ecefad",
            "7fdeab50-dd0e-4fe6-acae-fd111150f35e",
            "1bcbdd91-4871-45c0-972e-44b5fc6c07ba",
            "f38e84b0-f016-4307-8eb4-494bbc7dec4d",
            "d65e6f24-2448-4c81-82a1-b2491269a737"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "837beecf-4239-4b3d-b683-1d611af3da2e",
      "key": "9b673342-e9ed-4a3b-9513-ff87eed70337",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Itinerary"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Ch3 data-pm-slice=\u00220 0 []\u0022\u003E[Day 1]\u003C/h3\u003E\u003Cp\u003E[Day 1 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 2]\u003C/h3\u003E\u003Cp\u003E[Day 2 Itinerary]\u003C/p\u003E\u003Ch3\u003E[Day 3]\u003C/h3\u003E\u003Cp\u003E[Day 3 Itinerary]\u003C/p\u003E\u003Ch3\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "8ffbbac4-a391-4a96-9aef-825b9d06eb58",
      "key": "0294281c-d758-4196-b7dc-0170b369ecc4",
      "values": [
        {
          "alias": "featurePropertyFeatureImages",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6f504ab1-8846-4b96-9bd8-e8c4e3af702e",
              "mediaKey": "e0e306f4-9e5e-448d-a05e-3587cada0e77",
              "mediaTypeAlias": "imageResponsive",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "3a68ed44-6d04-4d59-8b9c-03964e48c281",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "f34f6b38-ea67-45ea-96fa-23a3efe614c5",
      "values": []
    },
    {
      "contentTypeKey": "b773f1ac-4538-4d0a-a1ff-85918c8edbf0",
      "key": "1bcbdd91-4871-45c0-972e-44b5fc6c07ba",
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cul\u003E\u003Cli\u003E\u003Cp\u003E[Extra]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Extra]\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E[Extra]\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Extras"
        }
      ]
    },
    {
      "contentTypeKey": "de535189-b468-4594-8118-f303bac50e3c",
      "key": "c86a30c8-ab34-469a-98d0-5731788fe693",
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EAll excursion travel, entrance fees and guided tours included\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Optional Sights"
        }
      ]
    },
    {
      "contentTypeKey": "458004c2-2f2b-40bf-8fd7-cad968995e49",
      "key": "ccfd5345-a590-4239-9453-ce9ea0b4937d",
      "values": []
    },
    {
      "contentTypeKey": "dfc70856-44bf-4a1c-a03c-dd3451ca4afd",
      "key": "f38e84b0-f016-4307-8eb4-494bbc7dec4d",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Pay Final Balance"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "To pay your final balance please provide the following details and you will be taken to the secure payment gateway"
        }
      ]
    },
    {
      "contentTypeKey": "758c6c75-adcd-4b46-af2b-6c97de794af2",
      "key": "9de10139-2977-48f1-982c-bc09c9c40624",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "20d28ff5-ae69-4a89-b381-af3758a49af6",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "caa5e837-c7fc-4766-bae1-b6c7843e44ea",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "82122dec-9b6c-4691-b13f-a806e80f8e01",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e85bbfdf-53b9-48f4-88d6-cae09a6d1f24",
      "key": "50c2bcb1-ced5-4edc-a88c-12bd272ac026",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureSettingsEnableSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "f82950ff-f92f-4626-801f-fdf0b5b7c4f3",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "e8668d11-6948-4341-9279-4389dc4bb5ac",
      "key": "fe3afc58-2e14-414f-a2a0-b581313afb43",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutSecondaryAreaSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutTertiaryAreaSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutPrimaryAreaColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "5fa7ac85-a26c-4818-bb7d-04f366cd5af5",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "caaaf2bc-a5e5-4cc9-aca6-329f0f36dafa",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "590f987c-d1b2-4704-ba3b-f0491947cdf2",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "a9aabbed-0d94-4fef-b963-261704860cbd",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "de81b690-39f3-436c-a98c-ce0f7724543e",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "4c3a7ff4-b910-4c0f-9bcb-e118d0358ff9",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "09177d64-43bd-4b07-92b7-b37b9471bfc9",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "0c6e0968-26bb-43d4-96dc-867e010484c0",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "2e8154f3-52c8-4f73-ad74-552acea84d24",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fff9a816-8041-4d76-bb5b-f404ac0dc27b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9c1df68d-a953-42be-b05b-e2efe9ca6781",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8eb3c980-73a8-4ed2-b8b6-0e12dbd57cf1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "65fc6fe6-0b5c-4e68-a8c3-6fbbc4ecefad",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d65e6f24-2448-4c81-82a1-b2491269a737",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7fdeab50-dd0e-4fe6-acae-fd111150f35e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2a29f49b-cd95-4c0e-9407-6117e3182213",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9b673342-e9ed-4a3b-9513-ff87eed70337",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0294281c-d758-4196-b7dc-0170b369ecc4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3a68ed44-6d04-4d59-8b9c-03964e48c281",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f34f6b38-ea67-45ea-96fa-23a3efe614c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1bcbdd91-4871-45c0-972e-44b5fc6c07ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c86a30c8-ab34-469a-98d0-5731788fe693",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ccfd5345-a590-4239-9453-ce9ea0b4937d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f38e84b0-f016-4307-8eb4-494bbc7dec4d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9de10139-2977-48f1-982c-bc09c9c40624",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ccfd5345-a590-4239-9453-ce9ea0b4937d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "09177d64-43bd-4b07-92b7-b37b9471bfc9",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0294281c-d758-4196-b7dc-0170b369ecc4",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "590f987c-d1b2-4704-ba3b-f0491947cdf2",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fff9a816-8041-4d76-bb5b-f404ac0dc27b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f82950ff-f92f-4626-801f-fdf0b5b7c4f3",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [],
            "key": "42c61fdc-4f5f-484f-b6b1-5d07be1bbab6"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "f34f6b38-ea67-45ea-96fa-23a3efe614c5",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "db407387-03d2-4d6a-bb45-cd26734c409f"
          }
        ],
        "columnSpan": 12,
        "contentKey": "3a68ed44-6d04-4d59-8b9c-03964e48c281",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a9aabbed-0d94-4fef-b963-261704860cbd",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "2a29f49b-cd95-4c0e-9407-6117e3182213",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "50c2bcb1-ced5-4edc-a88c-12bd272ac026",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "9de10139-2977-48f1-982c-bc09c9c40624",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2e8154f3-52c8-4f73-ad74-552acea84d24",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "9b673342-e9ed-4a3b-9513-ff87eed70337",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5fa7ac85-a26c-4818-bb7d-04f366cd5af5",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "8eb3c980-73a8-4ed2-b8b6-0e12dbd57cf1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "20d28ff5-ae69-4a89-b381-af3758a49af6",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "65fc6fe6-0b5c-4e68-a8c3-6fbbc4ecefad",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "caa5e837-c7fc-4766-bae1-b6c7843e44ea",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "7fdeab50-dd0e-4fe6-acae-fd111150f35e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "82122dec-9b6c-4691-b13f-a806e80f8e01",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "c86a30c8-ab34-469a-98d0-5731788fe693",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4c3a7ff4-b910-4c0f-9bcb-e118d0358ff9",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "1bcbdd91-4871-45c0-972e-44b5fc6c07ba",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "de81b690-39f3-436c-a98c-ce0f7724543e",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "f38e84b0-f016-4307-8eb4-494bbc7dec4d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "0c6e0968-26bb-43d4-96dc-867e010484c0",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "d65e6f24-2448-4c81-82a1-b2491269a737",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "caaaf2bc-a5e5-4cc9-aca6-329f0f36dafa",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "9c1df68d-a953-42be-b05b-e2efe9ca6781",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fe3afc58-2e14-414f-a2a0-b581313afb43",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGridTailoredTour>
    <brochurePdf>
      <Value><![CDATA[[
  {
    "key": "b05c284a-6ecb-428a-8931-f351484e7bb1",
    "mediaKey": "c575980b-87a6-426d-8399-16831a11fb68",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brochurePdf>
    <destinations>
      <Value><![CDATA[]]></Value>
    </destinations>
    <organisers>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e91b6cf0-0a92-4b3f-a1c9-b17aca85e345",
      "key": "91204016-657d-4a49-9bba-62fe18483d28",
      "values": [
        {
          "alias": "organiserAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organiser Address]"
        },
        {
          "alias": "organiserEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "organiser@email"
        },
        {
          "alias": "organiserTelephone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organiser Telephone]"
        },
        {
          "alias": "organiserName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organiser Name]"
        },
        {
          "alias": "organiserOrganisation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organisation]"
        },
        {
          "alias": "organiserMobile",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "[Organiser Mobile]"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "91204016-657d-4a49-9bba-62fe18483d28",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "91204016-657d-4a49-9bba-62fe18483d28",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </organisers>
    <pageDescription>
      <Value><![CDATA[[Page Description]]]></Value>
    </pageDescription>
    <pagePropertyTourDepartureDate>
      <Value><![CDATA[]]></Value>
    </pagePropertyTourDepartureDate>
    <pagePropertyTourDuration>
      <Value><![CDATA[1]]></Value>
    </pagePropertyTourDuration>
    <pagePropertyTourPriceFrom>
      <Value><![CDATA[1]]></Value>
    </pagePropertyTourPriceFrom>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[[Page Title]]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[[Page Title Short]]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>