<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4e23226-0aed-487e-b26f-afb80cf992d8" Alias="Tours for Groups" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/ToursForGroups</Path>
    <Trashed>false</Trashed>
    <ContentType>groupTours</ContentType>
    <CreateDate>2026-01-31T18:46:26</CreateDate>
    <NodeName Default="Tours for Groups" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad38862c-fb48-40f7-b5a0-d89ab7d066e9">groupTours</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "3c3d6577-45b6-41f5-8d3d-bd0b0ee20c09",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "750cec56-6991-4f4b-9c14-d0fa343344db",
      "values": []
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "key": "88cb4a7e-7479-4051-ba0b-bd2d62b82bd9",
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/01d2d230b88b4e5f9b59e9d4e3aa6210,umb://document/c8cbd4a821a042a3ab46244f75f2fc11,umb://document/8bedf265af804962a399b5b916fbd298,umb://document/744df4d0891f46be873dd247617afc8c,umb://document/0875b402b3034c87aab54cf26b882a09,umb://document/119e573de39840ebb87c5229d1edacaf,umb://document/b3d15c3028d04b4aabd614895c13d4fc,umb://document/83ad0498300342e484ca3773a2c0d518,umb://document/fae99f1fdca04bae9e6454ae1c55ee2f,umb://document/b5b563bf45fb44898f85d19b4bce71a1,umb://document/4ff81e33e72a42acacacda3bda6522ec,umb://document/a4cfc4e4b89b4d678a92e29c8a3d183a,umb://document/617c1de9c2194027bb39688863264cca"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a3f940d8-6afd-435c-a6f5-997b9f577cc6",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "b0fa30ad-7f81-4480-bbb5-a8792e99ef92",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "d337baa5-e7a2-4c50-bc94-235d052c3652",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "itemsLayoutColumns",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3c3d6577-45b6-41f5-8d3d-bd0b0ee20c09",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "750cec56-6991-4f4b-9c14-d0fa343344db",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "88cb4a7e-7479-4051-ba0b-bd2d62b82bd9",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "750cec56-6991-4f4b-9c14-d0fa343344db",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a3f940d8-6afd-435c-a6f5-997b9f577cc6",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "88cb4a7e-7479-4051-ba0b-bd2d62b82bd9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d337baa5-e7a2-4c50-bc94-235d052c3652",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "3c3d6577-45b6-41f5-8d3d-bd0b0ee20c09",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b0fa30ad-7f81-4480-bbb5-a8792e99ef92",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Explore the links below to see a whole range of suggested tours to your preferred country or region.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Tours for Groups]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Tours for Groups]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>