<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4cfc4e4-b89b-4d67-8a92-e29c8a3d183a" Alias="Worldwide" Level="3">
  <Info>
    <Parent Key="a877f390-c2c0-45d6-ba35-f5bf3d707309">Destinations</Parent>
    <Path>/Home/Destinations/Worldwide</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-06-04T06:51:57</CreateDate>
    <NodeName Default="Worldwide" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "eaf39252-7c72-4ee7-b4b9-22b3acdd66fd",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "9fa3cac3-c9d9-4fac-bbc3-1e714f890498",
      "values": []
    },
    {
      "contentTypeKey": "37e76ba7-cc31-4455-b077-cdda4e8ed278",
      "key": "019aade1-fcc4-41af-beb7-a672b3de6332",
      "values": []
    },
    {
      "contentTypeKey": "7334b1c5-b304-43f6-aafb-80032fb464ba",
      "key": "49d0f373-bdd4-4cc8-bbbe-bd957520c6e0",
      "values": []
    },
    {
      "contentTypeKey": "71d9e622-0a42-4ff8-acac-3e10f495bdd6",
      "key": "233ce518-d9a7-4fea-8951-fca1bb081f1b",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "750c3a16-5faa-4015-ab27-6ca7c967c6fe",
      "values": []
    },
    {
      "contentTypeKey": "79695a4f-c963-43f6-8394-b258a83a8021",
      "key": "db0fa94e-2997-4a2c-88cf-7a01eff365fb",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "f60ad0b7-8fe8-4ae5-ac7c-42168d38f0b7",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "d8b7e154-a6e3-41cd-b632-b76cb2e07acb",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "58d8aeae-0025-422f-9f1b-bc2408177b28",
      "key": "41f6669f-8695-459d-8111-bec6c0b2f70b",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "layoutPrimaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSecondaryAreaBorderWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "e8776260-78ee-4b84-88eb-80c4f4e204a2",
      "key": "24f4ea04-e946-4929-962b-4e0eb8a773be",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        }
      ]
    },
    {
      "contentTypeKey": "8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b",
      "key": "cd8735a9-bc02-47a0-b739-98a1f2abc134",
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemTitles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showItemDescriptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "eaf39252-7c72-4ee7-b4b9-22b3acdd66fd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9fa3cac3-c9d9-4fac-bbc3-1e714f890498",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "019aade1-fcc4-41af-beb7-a672b3de6332",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "49d0f373-bdd4-4cc8-bbbe-bd957520c6e0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "233ce518-d9a7-4fea-8951-fca1bb081f1b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "750c3a16-5faa-4015-ab27-6ca7c967c6fe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "db0fa94e-2997-4a2c-88cf-7a01eff365fb",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "9fa3cac3-c9d9-4fac-bbc3-1e714f890498",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d8b7e154-a6e3-41cd-b632-b76cb2e07acb",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "eaf39252-7c72-4ee7-b4b9-22b3acdd66fd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f60ad0b7-8fe8-4ae5-ac7c-42168d38f0b7",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "644f2fdd-ba23-4bb4-a446-2283027b1226"
          },
          {
            "items": [],
            "key": "da11a25d-5a16-4996-927a-92a8ff56cc2f"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "49d0f373-bdd4-4cc8-bbbe-bd957520c6e0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9a3ad805-c08b-4957-97af-9b0c65fd5ff9"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "233ce518-d9a7-4fea-8951-fca1bb081f1b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "12eb880b-90fc-4644-a185-9acd22461dc9"
          }
        ],
        "columnSpan": 12,
        "contentKey": "019aade1-fcc4-41af-beb7-a672b3de6332",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "41f6669f-8695-459d-8111-bec6c0b2f70b",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "db0fa94e-2997-4a2c-88cf-7a01eff365fb",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cd8735a9-bc02-47a0-b739-98a1f2abc134",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "750c3a16-5faa-4015-ab27-6ca7c967c6fe",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "24f4ea04-e946-4929-962b-4e0eb8a773be",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Worldwide]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "96d6f604-e5e2-40fa-addf-9125a43a88d9",
    "mediaKey": "9308c83f-2bbb-49ee-aa28-dc62c13dbffc",
    "mediaTypeAlias": "imageResponsive",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Worldwide]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Worldwide]]></Value>
    </pageTitleShort>
    <redirects>
      <Value><![CDATA[]]></Value>
    </redirects>
  </Properties>
</Content>