<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4e5f06d3-2296-4281-add3-6bb5b118a6be" Alias="pageComponentTourDepartureDate" Level="3">
  <Info>
    <Name>Tour Departure Date</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Page+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>71f5a51c-2aa2-4970-b2d0-bbb1f08ae572</Key>
      <Name>Tour Departure Date</Name>
      <Alias>pagePropertyTourDepartureDate</Alias>
      <Definition>56adc0ca-5e0c-4979-b32f-8053e7dd7284</Definition>
      <Type>Umbraco.DateOnly</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date this tour departs]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="tourProperties/tourDetails">Tour Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3abb699c-4882-4994-b73c-f492ab50c1fd</Key>
      <Caption>Tour Properties</Caption>
      <Alias>tourProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>a73e44d6-2077-45b0-aae6-500c78dbc566</Key>
      <Caption>Tour Details</Caption>
      <Alias>tourProperties/tourDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>