<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="13b6507b-6941-4643-b6d1-12b5dd1782ac" Alias="pageComponentTourPrice" Level="3">
  <Info>
    <Name>Tour Price</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Page+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b74f3e0c-274f-4133-b509-ead0efd2145f</Key>
      <Name>Tour Price (from)</Name>
      <Alias>pagePropertyTourPriceFrom</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The starting price for this tour]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="tourProperties/tourDetails">Tour Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>72ea0e65-129a-4706-a303-b0be6c9ececb</Key>
      <Caption>Tour Details</Caption>
      <Alias>tourProperties/tourDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a913ec09-6dc5-4562-9026-4eb2df2116a3</Key>
      <Caption>Tour Properties</Caption>
      <Alias>tourProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>