<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="b30d468b-b219-455b-ac76-eef5f9c1045e" Alias="folderResponsive" Level="1">
  <Info>
    <Name>Folder - Responsive</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>3a0156c4-3b8c-4803-bdc1-6871faa83fff</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="6a085a3e-0af4-4605-bcac-3fd6a9f58081" SortOrder="0">imageResponsive</MediaType>
    <MediaType Key="b30d468b-b219-455b-ac76-eef5f9c1045e" SortOrder="1">folderResponsive</MediaType>
  </Structure>
  <Tabs />
</MediaType>