<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="8143f333-fb0f-4e04-a7eb-464893af3e78" Alias="mediaComponentImageSupplier" Level="2">
  <Info>
    <Name>Media Component - Image - Supplier</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Media+Components</Folder>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>74367b34-cea2-4a0f-937f-bbe04b609be1</Key>
      <Name>Supplier</Name>
      <Alias>mediaPropertyImageSupplier</Alias>
      <Definition>6ab12082-a090-4e8f-b783-62e18bc2751b</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the supplier of the image e.g. Shutterstock, iStock, Getty]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="provenance/source">Source</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>28aaa52c-9042-4004-a5ba-a0eceef41117</Key>
      <Caption>Source</Caption>
      <Alias>provenance/source</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6ec3ab4b-ce8a-4661-bb11-0f67d009dc60</Key>
      <Caption>Provenance</Caption>
      <Alias>provenance</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</MediaType>