<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="d6b1f7a4-3886-49c4-a5b6-65541ade38d4" Alias="mediaComponentDestinations" Level="2">
  <Info>
    <Name>Media Component - Destinations</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Media+Components</Folder>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>c6593e2c-5f03-4328-a8d9-5189da12b810</Key>
      <Name>Country</Name>
      <Alias>mediaPropertyCountry</Alias>
      <Definition>ff552894-dacf-40b7-9370-ef13e3eaff1d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which country is the subject of the image in]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metaData/categorisation">Categorisation</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>696533f4-81f9-4dfe-9ef6-529fed47c5de</Key>
      <Name>Regions</Name>
      <Alias>mediaPropertyRegions</Alias>
      <Definition>c489d889-855a-4cf4-9952-43ec99f29a5f</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To help categorisation in the back office you can add multiple categories but at least one must match a Group Tours destination and should appear first in the list e.g. Krakow = central-and-eastern-europe, poland]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metaData/categorisation">Categorisation</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>0db56992-2ea1-47f4-9f6f-eacda4f799c6</Key>
      <Caption>MetaData</Caption>
      <Alias>metaData</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>694f3463-2793-42a3-ac10-d81313092ca0</Key>
      <Caption>Categorisation</Caption>
      <Alias>metaData/categorisation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>