<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="55555555-6013-4b57-954f-95268f4a062a" Alias="Request a Quote">
  <Info>
    <Name>Request a Quote</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you for your enquiry. We will be in touch shortly.</MessageOnSubmit>
    <GoToPageOnSubmit />
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>true</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows />
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>Request your quote</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": "Your details",
        "sortOrder": 0,
        "id": "44444444-0000-0000-0001-000000000000",
        "page": "44444444-0000-0000-0000-000000000000",
        "containers": [
          {
            "id": "44444444-0000-0000-0002-000000000000",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "First name",
                "tooltip": null,
                "cssClass": null,
                "alias": "firstName",
                "id": "44444444-0000-0000-0000-000000000002",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Please enter your first name.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Last name",
                "tooltip": null,
                "cssClass": null,
                "alias": "lastName",
                "id": "44444444-0000-0000-0000-000000000003",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Please enter your last name.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Address line 1",
                "tooltip": null,
                "cssClass": null,
                "alias": "addressLine1",
                "id": "44444444-0000-0000-0000-000000000004",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Please enter your address.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Address line 2",
                "tooltip": null,
                "cssClass": null,
                "alias": "addressLine2",
                "id": "44444444-0000-0000-0000-000000000005",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Town",
                "tooltip": null,
                "cssClass": null,
                "alias": "town",
                "id": "44444444-0000-0000-0000-000000000006",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Please enter your town.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "County",
                "tooltip": null,
                "cssClass": null,
                "alias": "county",
                "id": "44444444-0000-0000-0000-000000000007",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Postcode",
                "tooltip": null,
                "cssClass": null,
                "alias": "postcode",
                "id": "44444444-0000-0000-0000-000000000008",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Please enter your postcode.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Phone",
                "tooltip": null,
                "cssClass": null,
                "alias": "phone",
                "id": "44444444-0000-0000-0000-000000000009",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "FieldType": "tel"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "cssClass": null,
                "alias": "email",
                "id": "44444444-0000-0000-0000-000000000010",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Please enter your email address.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "FieldType": "email"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      },
      {
        "caption": "Your group",
        "sortOrder": 1,
        "id": "44444444-0000-0000-0001-000000000001",
        "page": "44444444-0000-0000-0000-000000000000",
        "containers": [
          {
            "id": "44444444-0000-0000-0002-000000000001",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Your group's name",
                "tooltip": null,
                "cssClass": null,
                "alias": "groupName",
                "id": "44444444-0000-0000-0000-000000000011",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Type of group",
                "tooltip": null,
                "cssClass": null,
                "alias": "groupType",
                "id": "44444444-0000-0000-0000-000000000012",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [
                  {
                    "value": "Club or society",
                    "caption": ""
                  },
                  {
                    "value": "Church or faith group",
                    "caption": ""
                  },
                  {
                    "value": "Educational group",
                    "caption": ""
                  },
                  {
                    "value": "Family group",
                    "caption": ""
                  },
                  {
                    "value": "Friends group",
                    "caption": ""
                  },
                  {
                    "value": "Special interest group",
                    "caption": ""
                  },
                  {
                    "value": "Sports club",
                    "caption": ""
                  },
                  {
                    "value": "Work colleagues",
                    "caption": ""
                  },
                  {
                    "value": "Other",
                    "caption": ""
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "If other, please specify",
                "tooltip": null,
                "cssClass": null,
                "alias": "groupTypeOther",
                "id": "44444444-0000-0000-0000-000000000013",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Estimated group size",
                "tooltip": null,
                "cssClass": null,
                "alias": "groupSize",
                "id": "44444444-0000-0000-0000-000000000014",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [
                  {
                    "value": "Under 20",
                    "caption": ""
                  },
                  {
                    "value": "20 to 29",
                    "caption": ""
                  },
                  {
                    "value": "30 to 39",
                    "caption": ""
                  },
                  {
                    "value": "40 to 49",
                    "caption": ""
                  },
                  {
                    "value": "50 or more",
                    "caption": ""
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      },
      {
        "caption": "Your tour",
        "sortOrder": 2,
        "id": "44444444-0000-0000-0001-000000000002",
        "page": "44444444-0000-0000-0000-000000000000",
        "containers": [
          {
            "id": "44444444-0000-0000-0002-000000000002",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Preferred destination (up to 3)",
                "tooltip": "Please list up to three destinations you are interested in.",
                "cssClass": null,
                "alias": "preferredDestination",
                "id": "44444444-0000-0000-0000-000000000015",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Preferred dates",
                "tooltip": "Please describe your preferred travel dates or time of year.",
                "cssClass": null,
                "alias": "preferredDates",
                "id": "44444444-0000-0000-0000-000000000016",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Duration of tour (days)",
                "tooltip": null,
                "cssClass": null,
                "alias": "duration",
                "id": "44444444-0000-0000-0000-000000000017",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [
                  {
                    "value": "1 to 3 days",
                    "caption": ""
                  },
                  {
                    "value": "4 to 6 days",
                    "caption": ""
                  },
                  {
                    "value": "7 to 9 days",
                    "caption": ""
                  },
                  {
                    "value": "10 to 14 days",
                    "caption": ""
                  },
                  {
                    "value": "15 days or more",
                    "caption": ""
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Standard of hotel",
                "tooltip": null,
                "cssClass": null,
                "alias": "hotelStandard",
                "id": "44444444-0000-0000-0000-000000000018",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [
                  {
                    "value": "3 star",
                    "caption": ""
                  },
                  {
                    "value": "3 to 4 star",
                    "caption": ""
                  },
                  {
                    "value": "4 star",
                    "caption": ""
                  },
                  {
                    "value": "4 to 5 star",
                    "caption": ""
                  },
                  {
                    "value": "5 star",
                    "caption": ""
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Board basis",
                "tooltip": null,
                "cssClass": null,
                "alias": "boardBasis",
                "id": "44444444-0000-0000-0000-000000000019",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [
                  {
                    "value": "Room only",
                    "caption": ""
                  },
                  {
                    "value": "Bed and breakfast",
                    "caption": ""
                  },
                  {
                    "value": "Half board",
                    "caption": ""
                  },
                  {
                    "value": "Full board",
                    "caption": ""
                  },
                  {
                    "value": "All inclusive",
                    "caption": ""
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Preferred transport",
                "tooltip": null,
                "cssClass": null,
                "alias": "preferredTransport",
                "id": "44444444-0000-0000-0000-000000000020",
                "fieldTypeId": "fab43f20-a6bf-11de-a28f-9b5755d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [
                  {
                    "value": "Flight",
                    "caption": ""
                  },
                  {
                    "value": "Coach",
                    "caption": ""
                  },
                  {
                    "value": "Train",
                    "caption": ""
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      },
      {
        "caption": "How did you hear about us",
        "sortOrder": 3,
        "id": "44444444-0000-0000-0001-000000000003",
        "page": "44444444-0000-0000-0000-000000000000",
        "containers": [
          {
            "id": "44444444-0000-0000-0002-000000000003",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "How did you hear about Tailored Travel?",
                "tooltip": null,
                "cssClass": null,
                "alias": "howDidYouHear",
                "id": "44444444-0000-0000-0000-000000000021",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [
                  {
                    "value": "Internet search",
                    "caption": ""
                  },
                  {
                    "value": "Social media",
                    "caption": ""
                  },
                  {
                    "value": "Recommendation from a friend or colleague",
                    "caption": ""
                  },
                  {
                    "value": "Travelled with us before",
                    "caption": ""
                  },
                  {
                    "value": "Advertisement",
                    "caption": ""
                  },
                  {
                    "value": "Travel agent",
                    "caption": ""
                  },
                  {
                    "value": "Other",
                    "caption": ""
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "If other, please specify",
                "tooltip": null,
                "cssClass": null,
                "alias": "howDidYouHearOther",
                "id": "44444444-0000-0000-0000-000000000022",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      },
      {
        "caption": "Any other comments",
        "sortOrder": 4,
        "id": "44444444-0000-0000-0001-000000000004",
        "page": "44444444-0000-0000-0000-000000000000",
        "containers": [
          {
            "id": "44444444-0000-0000-0002-000000000004",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Comments",
                "tooltip": null,
                "cssClass": null,
                "alias": "comments",
                "id": "44444444-0000-0000-0000-000000000023",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      },
      {
        "caption": "Marketing preferences",
        "sortOrder": 6,
        "id": "04f3e405-23c6-4835-9a69-891227b6312b",
        "page": "44444444-0000-0000-0000-000000000000",
        "containers": [
          {
            "id": "4a230365-c68f-4684-8ff0-d94a84907452",
            "caption": "",
            "width": 12,
            "fields": [
              {
                "caption": "I am happy to be contacted by post",
                "tooltip": null,
                "cssClass": null,
                "alias": "contactByPost",
                "id": "44444444-0000-0000-0000-000000000024",
                "fieldTypeId": "d5c0c390-ae9a-11de-a69e-666455d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "I am happy to be contacted by email",
                "tooltip": null,
                "cssClass": null,
                "alias": "contactByEmail",
                "id": "44444444-0000-0000-0000-000000000025",
                "fieldTypeId": "d5c0c390-ae9a-11de-a69e-666455d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Privacy",
                "tooltip": null,
                "cssClass": null,
                "alias": "privacyNote",
                "id": "44444444-0000-0000-0000-000000000026",
                "fieldTypeId": "e3fbf6c4-f46c-495e-aff8-4b3c227b4a98",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "Caption": "",
                  "BodyText": "We will not pass your details to companies outside the Tailored Travel group of companies without your consent."
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "",
    "sortOrder": 0,
    "id": "44444444-0000-0000-0000-000000000000",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>