<?xml version="1.0" encoding="utf-8"?>
<User Key="180098a1-4d90-4681-97dd-e8498df89961" Alias="general-editor@tailored-travel.co.uk">
  <Info>
    <Comments />
    <Name>General Editor</Name>
    <Username>general-editor@tailored-travel.co.uk</Username>
    <Email>general-editor@tailored-travel.co.uk</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en</Language>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
    <RawPassword>AQAAAAIAAYagAAAAEGu0rG8suT/ZkyKY1pPmydAq5PnsMEOFsEvkZ9JHYqFFzOrDK9mL6E+37hGqiIZpVA==</RawPassword>
    <Description></Description>
  </Info>
  <Groups>
    <Group>
      <Alias>editor</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>