<?xml version="1.0" encoding="utf-8"?>
<User Key="c7f5951a-05ec-4a78-8ed8-5da18431bc1c" Alias="play.wright@tailored-travel.co.uk">
  <Info>
    <Comments />
    <Name>Play Wright</Name>
    <Username>play.wright@tailored-travel.co.uk</Username>
    <Email>play.wright@tailored-travel.co.uk</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
    <RawPassword>AQAAAAIAAYagAAAAEJDWrXdOwksPBxQPNYt2sDFYAPNlQVNuTHYxGOFxj9VBEJcQIYnx0CMkA213/14bdA==</RawPassword>
    <Description></Description>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>