<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56adc0ca-5e0c-4979-b32f-8053e7dd7284" Alias="Tour Departure Date - Tour Departure Date - Date Only" Level="1">
  <Info>
    <Name>Tour Departure Date - Tour Departure Date - Date Only</Name>
    <EditorAlias>Umbraco.DateOnly</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateOnlyPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>