<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6" Alias="Colour Picker - Brand" Level="1">
  <Info>
    <Name>Colour Picker - Brand</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "2e5ba1",
      "label": "blue"
    },
    {
      "value": "ffd738",
      "label": "yellow"
    },
    {
      "value": "009136",
      "label": "green"
    },
    {
      "value": "486902",
      "label": "olive"
    },
    {
      "value": "a07b06",
      "label": "gold"
    },
    {
      "value": "8baed8",
      "label": "cornflower"
    },
    {
      "value": "e3605a",
      "label": "coral"
    },
    {
      "value": "f5a601",
      "label": "orange"
    },
    {
      "value": "941378",
      "label": "purple"
    },
    {
      "value": "ce0019",
      "label": "red"
    },
    {
      "value": "5ba3bb",
      "label": "teal"
    },
    {
      "value": "6f6f71",
      "label": "grey"
    },
    {
      "value": "ffffff",
      "label": "white"
    },
    {
      "value": "000000",
      "label": "black"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>