<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c247caaf-bdc2-402c-b5a8-466e10be2c5a" Alias="Feature Component - Image Rotator - Media Picker" Level="1">
  <Info>
    <Name>Feature Component - Image Rotator - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "6a085a3e-0af4-4605-bcac-3fd6a9f58081",
  "multiple": true,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>