<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15b70a2c-60e9-410f-98ad-f6761e2da937" Alias="Feature Settings Component - Items Properties - Show Item Titles - Toggle" Level="1">
  <Info>
    <Name>Feature Settings Component - Items Properties - Show Item Titles - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ariaLabel": "Show item titles",
  "default": true,
  "labelOff": "Hidden",
  "labelOn": "Shown",
  "showLabels": true
}]]></Config>
</DataType>