<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a41047f1-fe6a-4c64-bebd-ad7da52627c7" Alias="Feature Settings Component - Level -  - Dropdown" Level="1">
  <Info>
    <Name>Feature Settings Component - Level -  - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "defaultValue": "Level 2",
  "items": [
    "Level 2",
    "Level 3",
    "Level 4"
  ]
}]]></Config>
</DataType>