<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55831687-26a1-4d4b-ab54-0856a1b5f48d" Alias="Feature Settings Component - Items Properties - Slideshow - Show Slide Count - Toggle" Level="1">
  <Info>
    <Name>Feature Settings Component - Items Properties - Slideshow - Show Slide Count - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>