<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0c8cc9d-5411-4612-be00-6f6b62f0f277" Alias="Feature Settings Component - Items Properties - Slideshow - Show Slide Pips - Toggle" Level="1">
  <Info>
    <Name>Feature Settings Component - Items Properties - Slideshow - Show Slide Pips - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>