<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f8cb7a0-2ec6-43c6-a58d-3c2dad0e6d2b" Alias="Hide / Display Toggle" Level="1">
  <Info>
    <Name>Hide / Display Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "labelOff": "Hidden",
  "labelOn": "Displayed",
  "showLabels": true
}]]></Config>
</DataType>