<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fdc7e9e2-3819-4361-ac5d-e2f3c438069c" Alias="List View - Tailored Tours" Level="1">
  <Info>
    <Name>List View - Tailored Tours</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "includeProperties": [
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "owner",
      "header": "Updated by",
      "isSystem": 1,
      "nameTemplate": null
    }
  ],
  "layouts": [
    {
      "icon": "icon-table",
      "name": "Tailored Tours Table View",
      "collectionView": "TailoredTravel.CollectionView.TailoredTours.Table"
    },
    {
      "icon": "icon-list",
      "name": "Document Table Collection View",
      "collectionView": "Umb.CollectionView.Document.Table"
    },
    {
      "icon": "icon-grid",
      "name": "Document Grid Collection View",
      "collectionView": "Umb.CollectionView.Document.Grid"
    }
  ],
  "orderBy": "name",
  "orderDirection": "asc",
  "pageSize": 100,
  "showContentFirst": false,
  "useInfiniteEditor": false
}]]></Config>
</DataType>