<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c489d889-855a-4cf4-9952-43ec99f29a5f" Alias="Media Component - Destinations - Regions - Tags" Level="1">
  <Info>
    <Name>Media Component - Destinations - Regions - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tags</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "group": "regions",
  "storageType": "Json"
}]]></Config>
</DataType>