<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86f79082-fb39-460e-8c77-2e12b9eade51" Alias="Media Component - Metadata - Description  - Text Area" Level="1">
  <Info>
    <Name>Media Component - Metadata - Description  - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxChars": 155,
  "rows": 2
}]]></Config>
</DataType>