<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff552894-dacf-40b7-9370-ef13e3eaff1d" Alias="Media Component - Destinations - Media Property Country - Dropdown" Level="1">
  <Info>
    <Name>Media Component - Destinations - Media Property Country - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "United Kingdom",
    "Ireland",
    "France",
    "Spain",
    "Germany",
    "Holland",
    "Austria",
    "Portugal",
    "Belgium",
    "Italy",
    "Poland",
    "Croatia",
    "Southern Europe",
    "Central and Eastern Europe",
    "Worldwide"
  ]
}]]></Config>
</DataType>