<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e316e58-7efe-4895-a3e3-a0a33ca836fd" Alias="Member - Tailored Tour Picker" Level="1">
  <Info>
    <Name>Member - Tailored Tour Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "993a81c0-d793-41bb-9305-8137e7445b56",
  "maxNumber": 1,
  "minNumber": 1,
  "startNode": {
    "type": "content",
    "id": "dd9b7287-a3ff-418e-893d-b84df7de7500",
    "dynamicRoot": {
      "originKey": "dd9b7287-a3ff-418e-893d-b84df7de7500",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>