<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93b450da-5740-4b74-bd6b-26250c6cbc5f" Alias="Page Thumbnail - Media Picker" Level="1">
  <Info>
    <Name>Page Thumbnail - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "6a085a3e-0af4-4605-bcac-3fd6a9f58081,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c,cc07b313-0843-4aa8-bbda-871c8da728c8",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>