<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18ef16ce-f94c-4997-838c-d70ece2758ae" Alias="Site Settings - Accreditation Image Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Site Settings - Accreditation Image Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>