<?xml version="1.0" encoding="utf-8"?>
<DataType Key="679b85c1-d3d8-46ce-b31d-a43eaaeaab55" Alias="Sticky - Toggle" Level="1">
  <Info>
    <Name>Sticky - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "labelOff": "Not Sticky",
  "labelOn": "Sticky",
  "showLabels": true
}]]></Config>
</DataType>