<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed653009-2f51-4ff7-adc6-a39e8640ef67" Alias="Tour Duration - Tour Duration - Numeric" Level="1">
  <Info>
    <Name>Tour Duration - Tour Duration - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>