<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77cc8285-0c15-4bed-8b20-80cf93d84543" Alias="Tour Properties - Brochure PDF - Media Picker" Level="1">
  <Info>
    <Name>Tour Properties - Brochure PDF - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "multiple": false,
  "startNodeId": "6d7b1714-9c37-4994-834f-929c7956b824",
  "validationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>