<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5ebfc5c-5d17-42c3-8c80-6b27c955d4bb" Alias="Tour Redirects" Level="1">
  <Info>
    <Name>Tour Redirects</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>TailoredTravel.PropertyEditorUi.TourRedirects</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>