<?xml version="1.0" encoding="utf-8"?>
<Media Key="26c50f23-e3a5-4c5d-ada6-58ff64fe45cc" Alias="SE Suffolk" Level="2">
  <Info>
    <Parent Key="b22550e1-cd65-48b7-a531-f067428a842b">PDF</Parent>
    <Path>/PDF/SESuffolk</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-12T08:28:18</CreateDate>
    <NodeName Default="SE Suffolk" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>