<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0ce5b77-a6ff-44ee-aefa-079871ddbab2" Alias="TTM4930 Derby N Ireland Titanic Derry lo.pdf" Level="3">
  <Info>
    <Parent Key="5f679fd1-b882-4aa9-9de2-888d2e4be311">Derby</Parent>
    <Path>/PDF/Derby/TTM4930DerbyNIrelandTitanicDerryLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-01-25T18:55:37</CreateDate>
    <NodeName Default="TTM4930 Derby N Ireland Titanic Derry lo.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lfnn3qh5/ttm4930-derby-n-ireland-titanic-derry-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>