<?xml version="1.0" encoding="utf-8"?>
<Media Key="81a6979d-3499-4ccc-a8e8-5a08e5e376ee" Alias="TTM5080 Newbury Western Sicily Palermo lo.pdf" Level="3">
  <Info>
    <Parent Key="a87c175f-6bb1-496c-9444-fa67956b7f6f">Newbury</Parent>
    <Path>/PDF/Newbury/TTM5080NewburyWesternSicilyPalermoLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-01-25T18:55:38</CreateDate>
    <NodeName Default="TTM5080 Newbury Western Sicily Palermo lo.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wollnamz/ttm5080-newbury-western-sicily-palermo-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>