<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bbf7441-8f33-47f1-ae55-c7f0925cb023" Alias="TTM5092 Winchester Istanbul lo.pdf" Level="3">
  <Info>
    <Parent Key="4405993d-c16c-463a-85f7-b54c2d812adc">Winchester</Parent>
    <Path>/PDF/Winchester/TTM5092WinchesterIstanbulLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-03-12T07:39:46</CreateDate>
    <NodeName Default="TTM5092 Winchester Istanbul lo.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n30l4szt/ttm5092-winchester-istanbul-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>