<?xml version="1.0" encoding="utf-8"?>
<Media Key="b509525b-d05b-417f-bac9-1aee6446fd99" Alias="updoc-test-02.pdf" Level="3">
  <Info>
    <Parent Key="eed2fad2-4cf3-4f4c-96bf-175b7b5fb284">Tests</Parent>
    <Path>/PDF/Tests/updocTest02pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-02-12T09:50:47</CreateDate>
    <NodeName Default="updoc-test-02.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ovjatnk1/updoc-test-02.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>