<?xml version="1.0" encoding="utf-8"?>
<Media Key="324bcce3-fa42-4499-9109-42b411caea5e" Alias="updoc-test-01.pdf" Level="3">
  <Info>
    <Parent Key="eed2fad2-4cf3-4f4c-96bf-175b7b5fb284">Tests</Parent>
    <Path>/PDF/Tests/updocTest01pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-02-12T09:49:12</CreateDate>
    <NodeName Default="updoc-test-01.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zxgewmsc/updoc-test-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>