<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e342eaa4-4d67-4cf0-817b-6607916d3838" Alias="featureSettingsInternalLinksSlideshow" Level="2">
  <Info>
    <Name>Feature Settings - Internal Links - Slideshow</Name>
    <Icon>icon-operator</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings</Folder>
    <Compositions>
      <Composition Key="44fa7109-c225-48e7-8af7-8bc761663077">featureSettingsComponentHideDisplay</Composition>
      <Composition Key="9307d0b9-a31a-4903-a5b2-8f1e9bec486d">featureSettingsComponentItemsProperties</Composition>
      <Composition Key="f0b1016c-63d3-403f-8461-e6eafdeaf033">featureSettingsComponentItemsPropertiesSlideshow</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>