<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d667b72-004a-4470-8b2e-ff56ac970fae" Alias="featureSettingsComponentItemsLayout" Level="3">
  <Info>
    <Name>Feature Settings Component - Items Layout</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Items Layout settings (display mode, column count)</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings/Feature+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2c5aeeb3-379c-44d2-8af7-727d3437f3cc</Key>
      <Name>Columns</Name>
      <Alias>itemsLayoutColumns</Alias>
      <Definition>5d5f4257-b398-4546-b0a9-47870d04e094</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The number of columns when the viewport is at its widest. Narrower screens step down automatically.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="itemsLayout">Items Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>df608712-0d32-4789-bd78-051fe5db54e0</Key>
      <Caption>Items Layout</Caption>
      <Alias>itemsLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>