<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44fa7109-c225-48e7-8af7-8bc761663077" Alias="featureSettingsComponentHideDisplay" Level="3">
  <Info>
    <Name>Feature Settings Component - Hide Display</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings/Feature+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>12267189-a573-4b4b-b1fa-72d468c26e22</Key>
      <Name>Hide or Display</Name>
      <Alias>featureSettingsHideDisplay</Alias>
      <Definition>5f8cb7a0-2ec6-43c6-a58d-3c2dad0e6d2b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Turn on to display or off to hide.
Displayed is on by default.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="display/hide">Hide</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0084b4bd-69fc-4e55-8eac-1e648a99d3bd</Key>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>c4865362-d8c2-4634-9897-dd5a5097af06</Key>
      <Caption>Hide</Caption>
      <Alias>display/hide</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>