<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8cbd7302-a0de-4c8d-a4a4-a74dcdf08e7b" Alias="featureSettingsInternalLinks" Level="2">
  <Info>
    <Name>Feature Settings - Internal Links</Name>
    <Icon>icon-operator</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings</Folder>
    <Compositions>
      <Composition Key="44fa7109-c225-48e7-8af7-8bc761663077">featureSettingsComponentHideDisplay</Composition>
      <Composition Key="4d667b72-004a-4470-8b2e-ff56ac970fae">featureSettingsComponentItemsLayout</Composition>
      <Composition Key="9307d0b9-a31a-4903-a5b2-8f1e9bec486d">featureSettingsComponentItemsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>