<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f0b1016c-63d3-403f-8461-e6eafdeaf033" Alias="featureSettingsComponentItemsPropertiesSlideshow" Level="3">
  <Info>
    <Name>Feature Settings Component - Items Properties - Slideshow</Name>
    <Icon>icon-slideshow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings/Feature+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8dfdc5d1-1cf7-4164-a65b-fd1aaceaef50</Key>
      <Name>Show Slide Count</Name>
      <Alias>showSlideCount</Alias>
      <Definition>55831687-26a1-4d4b-ab54-0856a1b5f48d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Turn on to show the slide counter (e.g. 1 of 12), off to hide.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="slideshow">Slideshow</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>387ec15e-7922-4d4d-b683-592818ada403</Key>
      <Name>Show Slide Pips</Name>
      <Alias>showSlidePips</Alias>
      <Definition>e0c8cc9d-5411-4612-be00-6f6b62f0f277</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Turn on to show the indicator dots, off to hide.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="slideshow">Slideshow</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a250c067-ff53-4af1-9070-7dbbe80d0ce3</Key>
      <Caption>Slideshow</Caption>
      <Alias>slideshow</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>