<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4451136b-71b8-4cd0-880d-c4e76b171be7" Alias="featureSettingsComponentLevel" Level="3">
  <Info>
    <Name>Feature Settings Component - Level</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings/Feature+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9d02e718-c349-45ef-b4f5-5eb2f68d2671</Key>
      <Name>Level</Name>
      <Alias>featureSettingsLevel</Alias>
      <Definition>a41047f1-fe6a-4c64-bebd-ad7da52627c7</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By default most features are Level 2 In the page hierarchy you can change it here.
This will affect the heading level and some styling.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="display/featureLevel">Feature Level</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7e1f8b85-a3de-4531-92e1-8334c7a8fa6c</Key>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>80eb6b4a-d7e0-481a-9022-c42542d87030</Key>
      <Caption>Feature Level</Caption>
      <Alias>display/featureLevel</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>