<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1fc0f881-12f5-4d89-b715-e99f170f11cc" Alias="featureSettingsComponentBorderWidth" Level="3">
  <Info>
    <Name>Feature Settings Component - Border Width</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings/Feature+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b093a641-3160-46f2-8638-bab17d0326ad</Key>
      <Name>Border Width</Name>
      <Alias>featureBorderWidth</Alias>
      <Definition>139be26b-26d7-4a64-b992-13c8591461e4</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="border/borderWidth">Border Width</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0c0670c3-fca0-42e7-94a8-21b051a29c08</Key>
      <Caption>Border Width</Caption>
      <Alias>border/borderWidth</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8c72da1d-2473-4b44-bceb-f58014ed0f33</Key>
      <Caption>Border</Caption>
      <Alias>border</Alias>
      <Type>Tab</Type>
      <SortOrder>90</SortOrder>
    </Tab>
  </Tabs>
</ContentType>