<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7859f803-8966-461e-8c46-5f19147216b2" Alias="individualTours" Level="2">
  <Info>
    <Name>Individual Tours</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>fdc7e9e2-3819-4361-ac5d-e2f3c438069c</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca839412-504a-4bfe-ac26-b6f0672a42f2">contentGridDefault</Composition>
      <Composition Key="97c67415-a134-4516-8611-8806adaa9777">contentHeadingDefault</Composition>
      <Composition Key="caf830a3-e324-45e1-a831-fc38fbcdb151">contentHeadingDefault1</Composition>
    </Compositions>
    <DefaultTemplate>individualTours</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c9fae320-a18a-443b-b8b6-dc6eb28addff">individualTours</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c7dcd531-b26c-4db1-9b5b-d15d9036a567" SortOrder="0">individualTour</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>