<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7dcd531-b26c-4db1-9b5b-d15d9036a567" Alias="individualTour" Level="2">
  <Info>
    <Name>Individual Tour</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="825f318e-e052-40e2-af64-284627673ffd">contentGridIndividualTour</Composition>
      <Composition Key="97c67415-a134-4516-8611-8806adaa9777">contentHeadingDefault</Composition>
      <Composition Key="caf830a3-e324-45e1-a831-fc38fbcdb151">contentHeadingDefault1</Composition>
      <Composition Key="4e5f06d3-2296-4281-add3-6bb5b118a6be">pageComponentTourDepartureDate</Composition>
      <Composition Key="e65ea16d-6bad-4ebb-9389-71cbb5b412d6">pageComponentTourDuration</Composition>
      <Composition Key="13b6507b-6941-4643-b6d1-12b5dd1782ac">pageComponentTourPrice</Composition>
      <Composition Key="3de8382c-d6cf-462f-ad91-cfb56ab56837">tourBrochure</Composition>
      <Composition Key="25096590-3b91-4c2c-a894-c1d9d8bb6130">tourDestinations</Composition>
      <Composition Key="213494ec-2a92-4f94-9bec-f7128cb3e91c">tourOrganisers</Composition>
    </Compositions>
    <DefaultTemplate>individualTour</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84c5a041-f307-4749-b3e3-50ee1cae573d">individualTour</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d4c2391f-85ef-404d-a0be-10499d55e92a" SortOrder="0">webPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>