<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4725cb7-836d-4f09-b281-ae4ae386042d" Alias="layoutSettings8" Level="2">
  <Info>
    <Name>Layout Settings 8</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings</Folder>
    <Compositions>
      <Composition Key="024598c6-3a0e-41c7-ab16-344c150b9392">layoutSettingsComponentAreasBorderColourPrimary</Composition>
      <Composition Key="a9f69a48-599b-49b6-b1e3-d488be746896">layoutSettingsComponentAreasBorderWidthPrimary</Composition>
      <Composition Key="34bde904-5ceb-413a-b805-a2b2d3e296ed">layoutSettingsComponentAreasColorPrimary</Composition>
      <Composition Key="4ca076c4-5e7f-42b3-8c18-b25afdcf0647">layoutSettingsComponentBackgroundImage</Composition>
      <Composition Key="2bd0b48b-60cd-4a59-9d7c-abcc7ca7a13b">layoutSettingsComponentColorPicker</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>