<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce55403d-109d-4f10-b156-f54b151cf91f" Alias="layoutSettingsComponentAreasStickyTertiary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Sticky - Tertiary</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0fcc8ff4-ce60-40da-9b0d-b0dba6cd6f90</Key>
      <Name>Tertiary Area Sticky</Name>
      <Alias>layoutTertiaryAreaSticky</Alias>
      <Definition>679b85c1-d3d8-46ce-b31d-a43eaaeaab55</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="display/area-Tertiary">Area - Tertiary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1239d92a-1705-4f05-9194-f6d2e0b6e551</Key>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>2beed429-d0fe-4836-9f9c-6b8a87712585</Key>
      <Caption>Area - Tertiary</Caption>
      <Alias>display/area-Tertiary</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>