<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34bde904-5ceb-413a-b805-a2b2d3e296ed" Alias="layoutSettingsComponentAreasColorPrimary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Color - Primary</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a425634e-3a1f-45ec-aa7b-1f5e1b4f4a6a</Key>
      <Name>Primary Background Colour</Name>
      <Alias>layoutPrimaryAreaColour</Alias>
      <Definition>5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="background/area-Primary">Area - Primary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1841c780-6728-43fd-ba01-a40531572f6a</Key>
      <Caption>Area - Primary</Caption>
      <Alias>background/area-Primary</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>f8f39361-faae-4bad-a28c-2970e634fa54</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>