<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c719028-99b9-4392-9761-5057481d58cc" Alias="layoutSettingsComponentAreasStickySecondary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Sticky - Secondary</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4d888cd4-6297-462b-8168-9f0b86d570ce</Key>
      <Name>Secondary Area Sticky</Name>
      <Alias>layoutSecondaryAreaSticky</Alias>
      <Definition>679b85c1-d3d8-46ce-b31d-a43eaaeaab55</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="display/area-Secondary">Area - Secondary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a8b5aef-752c-425c-90bd-18aa46b02a8d</Key>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>131be028-063d-4189-bf52-6af247114a58</Key>
      <Caption>Area - Secondary</Caption>
      <Alias>display/area-Secondary</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>