<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b96badd5-7d8d-463f-a23e-dad4ad499e88" Alias="layoutSettingsComponentAreasBorderWidthSecondary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Border Width - Secondary</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>faa50e60-1401-4817-9b0c-3d4924adb5cd</Key>
      <Name>Secondary Area Border Width</Name>
      <Alias>layoutSecondaryAreaBorderWidth</Alias>
      <Definition>139be26b-26d7-4a64-b992-13c8591461e4</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="border/area-Secondary">Area - Secondary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>75c457c4-84b3-4f3c-86c9-a6e85f180494</Key>
      <Caption>Area - Secondary</Caption>
      <Alias>border/area-Secondary</Alias>
      <Type>Group</Type>
      <SortOrder>30</SortOrder>
    </Tab>
    <Tab>
      <Key>77365c53-3a87-4a6d-b582-8337d6fac4e1</Key>
      <Caption>Border</Caption>
      <Alias>border</Alias>
      <Type>Tab</Type>
      <SortOrder>90</SortOrder>
    </Tab>
  </Tabs>
</ContentType>