<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b04195e6-2055-41d8-a2c0-066029ba6ec7" Alias="layoutSettingsComponentAreasColorSecondary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Color - Secondary</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>055a7f77-4769-406b-bcb5-4a3ffa8d2043</Key>
      <Name>Secondary Area Colour</Name>
      <Alias>layoutSecondaryAreaColour</Alias>
      <Definition>5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="background/area-Secondary">Area - Secondary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>40d49a51-cba5-448f-9f46-4ae0405c3009</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>e763aba2-ad8f-43ef-b445-4b7d18dcdca9</Key>
      <Caption>Area - Secondary</Caption>
      <Alias>background/area-Secondary</Alias>
      <Type>Group</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>