<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b047193-5170-4449-9770-0f798d17929c" Alias="layoutSettingsComponentAreasColorTertiary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Color - Tertiary</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>80ab5f62-37a3-4d4e-b1f4-04cc23253a89</Key>
      <Name>Tertiary Area Colour</Name>
      <Alias>layoutTertiaryAreaColour</Alias>
      <Definition>5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="background/area-Tertiary">Area - Tertiary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bdb16a8a-1546-4a18-9836-f0c28014a9dd</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>cecbd0ba-9d51-4653-bf16-ee922d051d1c</Key>
      <Caption>Area - Tertiary</Caption>
      <Alias>background/area-Tertiary</Alias>
      <Type>Group</Type>
      <SortOrder>40</SortOrder>
    </Tab>
  </Tabs>
</ContentType>