<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9f69a48-599b-49b6-b1e3-d488be746896" Alias="layoutSettingsComponentAreasBorderWidthPrimary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Border Width - Primary</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3f84f296-e7d8-497f-a5bb-a44fbd074ca6</Key>
      <Name>Primary Area Border Width</Name>
      <Alias>layoutPrimaryAreaBorderWidth</Alias>
      <Definition>139be26b-26d7-4a64-b992-13c8591461e4</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="border/area-Primary">Area - Primary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1bb2643b-7019-402a-ab89-b2425a4abce1</Key>
      <Caption>Area - Primary</Caption>
      <Alias>border/area-Primary</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>b4c9a635-1fdb-4df6-a9c6-fa899d715664</Key>
      <Caption>Border</Caption>
      <Alias>border</Alias>
      <Type>Tab</Type>
      <SortOrder>90</SortOrder>
    </Tab>
  </Tabs>
</ContentType>