<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fbf1cde1-551f-42c2-8d3c-142882b3f0b0" Alias="layoutSettingsComponentAreasBorderColourTertiary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Border Colour - Tertiary</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d3cc085f-0ada-445e-80ce-96aba4623b06</Key>
      <Name>Tertiary Area Border Colour</Name>
      <Alias>layoutTertiaryAreaBorderColour</Alias>
      <Definition>5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="border/area-Tertiary">Area - Tertiary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>01368f11-66ea-4977-98d5-24c84c131a36</Key>
      <Caption>Border</Caption>
      <Alias>border</Alias>
      <Type>Tab</Type>
      <SortOrder>90</SortOrder>
    </Tab>
    <Tab>
      <Key>1c965206-b70f-4da1-a547-bce5f042c139</Key>
      <Caption>Area - Tertiary</Caption>
      <Alias>border/area-Tertiary</Alias>
      <Type>Group</Type>
      <SortOrder>40</SortOrder>
    </Tab>
  </Tabs>
</ContentType>