<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7e4c1487-5da5-42b4-b1a2-41f3b4540d95" Alias="layoutSettingsComponentHideDisplay" Level="3">
  <Info>
    <Name>Layout Settings Component - Hide Display</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3d766bef-ebc6-4747-8860-c12aed0c3d82</Key>
      <Name>Hide or Display</Name>
      <Alias>hideOrDisplay</Alias>
      <Definition>5f8cb7a0-2ec6-43c6-a58d-3c2dad0e6d2b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Turn on to display or off to hide.
Displayed is on by default.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="display/hideLayout">Hide Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>12b0e8b0-6ec2-47cd-9690-a9d7ca083547</Key>
      <Caption>Hide Layout</Caption>
      <Alias>display/hideLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5baa9537-fd18-43a2-9fa4-682305983d0f</Key>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>