<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c9540cba-017c-40c0-91ba-8659f84d355f" Alias="layoutSettingsComponentAreasBorderColourSecondary" Level="3">
  <Info>
    <Name>Layout Settings Component - Areas Border Colour - Secondary</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>44ffd283-021d-4535-93cc-078d95f31e82</Key>
      <Name>Secondary Area Border Colour</Name>
      <Alias>layoutSecondaryAreaBorderColour</Alias>
      <Definition>5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="border/area-Secondary">Area - Secondary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>19df0c75-e219-43d8-b7ac-23be83903fd4</Key>
      <Caption>Border</Caption>
      <Alias>border</Alias>
      <Type>Tab</Type>
      <SortOrder>90</SortOrder>
    </Tab>
    <Tab>
      <Key>30b9beb7-7cd8-4b1c-a186-96300bca0c60</Key>
      <Caption>Area - Secondary</Caption>
      <Alias>border/area-Secondary</Alias>
      <Type>Group</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>