<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e65ea16d-6bad-4ebb-9389-71cbb5b412d6" Alias="pageComponentTourDuration" Level="3">
  <Info>
    <Name>Tour Duration</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Page+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>24cf1e18-15a0-45ca-aa0f-a2e0ad25e201</Key>
      <Name>Tour Duration</Name>
      <Alias>pagePropertyTourDuration</Alias>
      <Definition>ed653009-2f51-4ff7-adc6-a39e8640ef67</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number of days]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="tourProperties/tourDetails">Tour Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>901327af-0dbf-4650-9e92-f729cb2dd7a2</Key>
      <Caption>Tour Details</Caption>
      <Alias>tourProperties/tourDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9ca08138-70d6-4320-b228-eb25a2b16b03</Key>
      <Caption>Tour Properties</Caption>
      <Alias>tourProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>