<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="25096590-3b91-4c2c-a894-c1d9d8bb6130" Alias="tourDestinations" Level="3">
  <Info>
    <Name>Tour Destinations</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Page+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a1b2c3d4-e5f6-4a7b-8c9d-e0f1a2b3c4d5</Key>
      <Name>Destinations</Name>
      <Alias>destinations</Alias>
      <Definition>590a9c54-08d5-4c91-aa96-4c473949d124</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Destinations that this tour visits]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="tourProperties/tourDetails">Tour Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a137fd8-7328-47b1-9ee2-616650cb889e</Key>
      <Caption>Tour Properties</Caption>
      <Alias>tourProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>f1e2d3c4-b5a6-4978-8b9c-0d1e2f3a4b5c</Key>
      <Caption>Tour Details</Caption>
      <Alias>tourProperties/tourDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>