<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="07abd1d5-d278-4406-a88c-75edf2e5008d" Alias="TTM5065@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/swhu261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:57</CreateDate>
    <NodeName Default="swhu261" />
    <SortOrder>58</SortOrder>
    <Email>TTM5065@tailored-travel.co.uk</Email>
    <Username>swhu261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEIlIO5igI1jY0THBBqPEAgjlrQz9T6RRgvfkEGe2JXeBOCwWRxEnSvdu1RXXtq75gA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>