<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="0ac05e31-a614-423f-9a7a-1210a3169699" Alias="TTM4963@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blod261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:49</CreateDate>
    <NodeName Default="blod261" />
    <SortOrder>11</SortOrder>
    <Email>TTM4963@tailored-travel.co.uk</Email>
    <Username>blod261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEF9/DeTsPjqb41GuYT6hgm/6nQm5ZnkpQm9Bo2L1OrolyBu/Vpzbca7GpFOzdbVdtA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>