<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="0bd8e7da-a508-438d-af5c-b313a8f5fca0" Alias="TTM4936@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tpma261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:50</CreateDate>
    <NodeName Default="tpma261" />
    <SortOrder>17</SortOrder>
    <Email>TTM4936@tailored-travel.co.uk</Email>
    <Username>tpma261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEKRnNJDpVcHTQQ+g6Cgj8UTbCCpHF06EaTIpKnkTkG25YwrEf64+4TwPvr0RH1Lr6Q==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>