<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="0cad8b7d-9d6f-486f-8bb6-036ed43f977b" Alias="TTM5141@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/betd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:06</CreateDate>
    <NodeName Default="betd271" />
    <SortOrder>114</SortOrder>
    <Email>TTM5141@tailored-travel.co.uk</Email>
    <Username>betd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEOUu84d5n+4Acvp4/zRusvSFYhuyhBFDYTnNi6NbJRffos1zU2njAL88tx9Q7UIRMg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/305e79732c684835bc5e9fcdb7d82fbc]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>