<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="0e1b1b1e-a602-4a37-9b07-924145b39a0f" Alias="TTM5068@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rchd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:49</CreateDate>
    <NodeName Default="rchd261" />
    <SortOrder>9</SortOrder>
    <Email>TTM5068@tailored-travel.co.uk</Email>
    <Username>rchd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAECNlvB9b3kKrRgazLbzkmJzYjhHzyfY2aOa31/rk2YGnTMOlkPt/xvhrAx+Tl6tldA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>