<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="0faed3f6-36e1-4785-9156-2bcc0ce73abb" Alias="TTM5137@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/awg271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:05</CreateDate>
    <NodeName Default="awg271" />
    <SortOrder>107</SortOrder>
    <Email>TTM5137@tailored-travel.co.uk</Email>
    <Username>awg271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAENOKZTcsUBjFNDmcvNd/A5g085LT8r/1J/7D57jW/bShB/I57v6N6PmtRhbMwH79ZQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>