<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="1136e714-b752-473e-a00e-718f891ac97a" Alias="TTM4959@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nbd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:48</CreateDate>
    <NodeName Default="nbd261" />
    <SortOrder>3</SortOrder>
    <Email>TTM4959@tailored-travel.co.uk</Email>
    <Username>nbd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEKj9iI0R3+VNtDhx4h/b7aVNmrATSsRJczUGugOw/HsvCIGStmeBpnn7HOwoAKVwQw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>