<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="159295b8-475b-47e7-9a32-7873dff8f183" Alias="TTM5123@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cocd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:11</CreateDate>
    <NodeName Default="cocd271" />
    <SortOrder>141</SortOrder>
    <Email>TTM5123@tailored-travel.co.uk</Email>
    <Username>cocd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEALMblOLWDBbW8PC8dt24d4LQmkj8RREga2yfYklhE3o/hAG3ZyaQ39QMC+DW68wcw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/20252565f58e41b980964dae93a90f51]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>