<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="16092594-8850-42da-9c6d-03ec5e4cc0af" Alias="TTM5033@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tntd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:01</CreateDate>
    <NodeName Default="tntd261" />
    <SortOrder>79</SortOrder>
    <Email>TTM5033@tailored-travel.co.uk</Email>
    <Username>tntd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEBF8akF260xrIA/TK+/3wKCYwuVUMIXW0Cuak0cu1cgji9Q11TP5BcnYbN09AK7Z5A==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>