<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="1e72fbef-07a3-4b38-a9c5-aa5f126816bb" Alias="TTM5153@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hrwd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:07</CreateDate>
    <NodeName Default="hrwd271" />
    <SortOrder>118</SortOrder>
    <Email>TTM5153@tailored-travel.co.uk</Email>
    <Username>hrwd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEPOJ0of2+axXxRR9kbhLrEbLInlW5xM1Mhx9h1LGaCF9YOqvmnkZ4oEiQl4cUusAxQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/82360539f6f34840aafe27581f4a86c6]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>