<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="1e7d3ba3-fb31-4260-a9b2-73e587a9fb93" Alias="TTM5005@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/suhd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:48</CreateDate>
    <NodeName Default="suhd261" />
    <SortOrder>7</SortOrder>
    <Email>TTM5005@tailored-travel.co.uk</Email>
    <Username>suhd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEG4MNESPn047N2N358yD3/KkVfwP0kP6qiwfTLSp8TFgpa0uk/HoqLOzUNAia1Eagg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>