<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="1ea46d32-ee6c-4f72-a5f0-8bf73f5c7dd0" Alias="TTM4974@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/welu261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:49</CreateDate>
    <NodeName Default="welu261" />
    <SortOrder>8</SortOrder>
    <Email>TTM4974@tailored-travel.co.uk</Email>
    <Username>welu261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEJZ6bxOnNwic7oyVzrNfX9NZmF2Cg2UyD9kMqQyUwRFIpgpMCQdNvD50kvSWHedF+w==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>