<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="2167da66-773d-479e-8af2-7769dc6d3ba7" Alias="TTM5143@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cnfc261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:00</CreateDate>
    <NodeName Default="cnfc261" />
    <SortOrder>76</SortOrder>
    <Email>TTM5143@tailored-travel.co.uk</Email>
    <Username>cnfc261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEI3Uw142zKOxVRXFFfB7P1Jb5wx7VV0wjqI3CbKJEqZMAO2N/Qpdgb+dXzpMpiQZ+A==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>