<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="229a70f7-52c9-44d9-919f-b7a234077033" Alias="TTM5055@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wohd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:52</CreateDate>
    <NodeName Default="wohd261" />
    <SortOrder>29</SortOrder>
    <Email>TTM5055@tailored-travel.co.uk</Email>
    <Username>wohd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAECcTHaS/Kh4TgM+ziUavebSd0wrCcUfUeXYlAv3MhxbI/iVIGqE+8tkaMteQZwoCkg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>