<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="271cdb0b-53b4-4369-8326-49f11abb0b48" Alias="TTM5006@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/egrd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:53</CreateDate>
    <NodeName Default="egrd261" />
    <SortOrder>34</SortOrder>
    <Email>TTM5006@tailored-travel.co.uk</Email>
    <Username>egrd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEMQAfkpJoIajSmdnfnJ4WXhWoo7S4YN50ERuf7hE+dDHw3who0nF7fsWCr3dNRpBag==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>