<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="28e7c03c-bd21-40f8-9c48-8d5cfac2f730" Alias="TTM5166@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tpma271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:06</CreateDate>
    <NodeName Default="tpma271" />
    <SortOrder>110</SortOrder>
    <Email>TTM5166@tailored-travel.co.uk</Email>
    <Username>tpma271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEDWEByueAty3KFXjD9gX2yPNOpta4e7UgwlOW9qaNAwMIRSOassEM91RdArJkKq23w==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/2dd0f30de42a411dbd8ffa847281dcd9]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>