<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="29d657a4-efd6-4f35-bc96-0f8838b81a7c" Alias="TTM5160@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/havn271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:10</CreateDate>
    <NodeName Default="havn271" />
    <SortOrder>135</SortOrder>
    <Email>TTM5160@tailored-travel.co.uk</Email>
    <Username>havn271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEOG3AtyMGQqehLEf5pnyJQZbDx6JJ9DKwcYL8VoaX4JKw4RCOTKnte3AAI1n1JzsdQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/08631da9a5dc41d2a7b313a812517dd0]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>