<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="2a1302e7-001f-4834-8b26-edeb9bf1e09e" Alias="TTM5129@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cpc261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:02</CreateDate>
    <NodeName Default="cpc261" />
    <SortOrder>85</SortOrder>
    <Email>TTM5129@tailored-travel.co.uk</Email>
    <Username>cpc261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEDxspPnCun9NtCcxwYcaRRYlV1LhLUthq6tuJ77MmRrgO20bsL/EXgbuMFilWeLwIw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>