<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="2f54ddaf-390b-4414-ac2e-e92ba1467aa6" Alias="TTM5142@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wesd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:09</CreateDate>
    <NodeName Default="wesd271" />
    <SortOrder>132</SortOrder>
    <Email>TTM5142@tailored-travel.co.uk</Email>
    <Username>wesd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAENjmCIWRJ4B0FIFKRJPPsvp7mFFSSFkv7T1vAEaEZKcKmgwfedjLrTuz50FjPl48Wg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/b7bd8af11cce48c88e40be21e0c5f0d7]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>