<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="34034703-8099-4792-afb6-9ac847888d3c" Alias="TTM5158@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wybd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:12</CreateDate>
    <NodeName Default="wybd271" />
    <SortOrder>145</SortOrder>
    <Email>TTM5158@tailored-travel.co.uk</Email>
    <Username>wybd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEC5dMwb7sosS9Dr5UrOfJneLPPfMVmjibt9yFrzhqhWCfSIdH1WDqnXYNgK81gjwyQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/1c713b3244564e8283c3043512649404]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>