<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="3ea0f4fb-c764-48b7-bdd3-d56f4a783050" Alias="TTM4915@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tnt262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:53</CreateDate>
    <NodeName Default="tnt262" />
    <SortOrder>32</SortOrder>
    <Email>TTM4915@tailored-travel.co.uk</Email>
    <Username>tnt262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEH/3V8zYPr13dyJiFMrORw614oJtR8ylnhMjMV688jpNmxeBvv31nWhMfZrPu2zWhQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>