<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="4005bc4c-839a-4aea-99cf-0f85afdde762" Alias="TTM5107@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bisd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:56</CreateDate>
    <NodeName Default="bisd261" />
    <SortOrder>51</SortOrder>
    <Email>TTM5107@tailored-travel.co.uk</Email>
    <Username>bisd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEJzQt7+5gvkKJDqv1Kqvq3wXcPXyD2TdvJlOKUyvFjSjCuWxAs5a3oB+Oql1i/Rzcw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>