<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="42be9a24-b041-4b9b-a06b-6daffad8c501" Alias="TTM4952@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tpma263</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:59</CreateDate>
    <NodeName Default="tpma263" />
    <SortOrder>70</SortOrder>
    <Email>TTM4952@tailored-travel.co.uk</Email>
    <Username>tpma263</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEP4KN5v5B5xlnmjKa7UiMoBEhUk7x8TTPD8EJfTwsKYzYCvc+j2KdUBqbfrYJgfsVQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>