<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="430a0574-2bba-4b00-9093-f6f4547eb211" Alias="TTM5008@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nnu261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:49</CreateDate>
    <NodeName Default="nnu261" />
    <SortOrder>10</SortOrder>
    <Email>TTM5008@tailored-travel.co.uk</Email>
    <Username>nnu261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFUlb/cnViyDYqYzsDV64B1PDSpLAkyWfS0fSjpmwYnVTaJdA75YxQfDdRN3l78lUA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>