<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="43977d4a-9abd-45b1-bd81-c8346aa22550" Alias="TTM5133@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wint271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:09</CreateDate>
    <NodeName Default="wint271" />
    <SortOrder>127</SortOrder>
    <Email>TTM5133@tailored-travel.co.uk</Email>
    <Username>wint271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEF8nAbEq/pwEskm7K66OAwzVrGfGJ41gm7xUt8KfAY20DPWxUydSU7A3LOtWr2RgHw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/d6aaa3a3260647109b2ff196e8f8fec7]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>