<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="45e8f7e1-823c-4e37-9aad-9276b3b18db8" Alias="TTM5093@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rdrg261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:57</CreateDate>
    <NodeName Default="rdrg261" />
    <SortOrder>56</SortOrder>
    <Email>TTM5093@tailored-travel.co.uk</Email>
    <Username>rdrg261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEGf51pONAFL8n6nBatdYrcBaJoZQCGptJDbgua0XtdNa+VyXsrHVRZFp9RayXUP+8w==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>