<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="48b5400b-e194-4970-b657-5510088c1265" Alias="TTM5174@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ricd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:11</CreateDate>
    <NodeName Default="ricd271" />
    <SortOrder>144</SortOrder>
    <Email>TTM5174@tailored-travel.co.uk</Email>
    <Username>ricd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEIvjewJc+xq9MnUeXkef0pqYxzdV0n93hA3x/mvJ44SHPkBQrS/877ptPtMGAj7ewQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/438d3d663dc44c44b8408ec96932b95b]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>