<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="4fdd4973-578f-44fe-b881-06ddf90a8f29" Alias="TTM5167@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/jfg261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:04</CreateDate>
    <NodeName Default="jfg261" />
    <SortOrder>97</SortOrder>
    <Email>TTM5167@tailored-travel.co.uk</Email>
    <Username>jfg261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAENIycbht71XzF7+zlQVVID3w7ELp7186XfJgTD+uUrqb8Q6sj0Qj4X7499Ml2S5suw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>