<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="5023317c-38ed-47f5-8034-3cff47e74184" Alias="TTM5136@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/trpd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:57</CreateDate>
    <NodeName Default="trpd262" />
    <SortOrder>57</SortOrder>
    <Email>TTM5136@tailored-travel.co.uk</Email>
    <Username>trpd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEPUSbRkIQRdWftyUf7lNFiWbJi0Vdl9UVSOywEcB7NG+umUfBaGTJebgcFfn41jWxw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>