<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="54e8bdf1-b680-45c4-878f-1855da904c3f" Alias="TTM5116@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/suhd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:03</CreateDate>
    <NodeName Default="suhd262" />
    <SortOrder>92</SortOrder>
    <Email>TTM5116@tailored-travel.co.uk</Email>
    <Username>suhd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFxZ1GtltfdnHWe1djWrxMLJ8tpHWOy/xHF9TAU0UwwIzkvSuvpj6SnHKtiWutMNeQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>