<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="55247031-06b6-4351-b2ae-22efb34c32dc" Alias="TTM5132@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ricd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:56</CreateDate>
    <NodeName Default="ricd262" />
    <SortOrder>53</SortOrder>
    <Email>TTM5132@tailored-travel.co.uk</Email>
    <Username>ricd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEHzFMPaAb7dIi7daPe6VjxsilDcxhVpVMKvHMW+F/07dqxjNE8JrTezfKFO8QQLpHQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>