<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="59533068-768b-4bee-8ff6-19da8f35f9ce" Alias="TTM5073@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dngu261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:57</CreateDate>
    <NodeName Default="dngu261" />
    <SortOrder>55</SortOrder>
    <Email>TTM5073@tailored-travel.co.uk</Email>
    <Username>dngu261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEEpNB69F5pt0B21iqw/YCOk/GUDvtPUbAyYkQ9tMEVbcyJ9np6hbafG8KcFTYKcskA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>