<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="5a2db8fa-4155-47dc-8458-c9402aa7cada" Alias="TTM5076@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/scd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:04</CreateDate>
    <NodeName Default="scd262" />
    <SortOrder>98</SortOrder>
    <Email>TTM5076@tailored-travel.co.uk</Email>
    <Username>scd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEEof9cgz9GUEOoB0+Bkf099W+zfFCdmKdVlyJqVIxfJWDqSUsywTZUZdYx99ggQOcA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>