<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="5c3ceca5-ad36-4012-8837-54f1bb39568f" Alias="TTM4966@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/havn261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:51</CreateDate>
    <NodeName Default="havn261" />
    <SortOrder>25</SortOrder>
    <Email>TTM4966@tailored-travel.co.uk</Email>
    <Username>havn261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEPgQ20EKEwgZECOPrmTTVzXVL1fkYUbW46ZeA/DJnUUPnDYBo0IhvO5I7mC+cio6hQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>