<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="5ce3c91a-bb9c-4d89-91cd-866eee16cfa8" Alias="TTM5090@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/doru261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:00</CreateDate>
    <NodeName Default="doru261" />
    <SortOrder>78</SortOrder>
    <Email>TTM5090@tailored-travel.co.uk</Email>
    <Username>doru261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEJZ6byuzyZvRMKE4BgISyXE2ANGkYasyDXN4ml0uRKQtIuzKZqvAGKj02FxmfY9Tgw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>