<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="5e72fdc4-aafa-46ea-be6a-ce881d10af32" Alias="TTM5070@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ascd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:52</CreateDate>
    <NodeName Default="ascd261" />
    <SortOrder>31</SortOrder>
    <Email>TTM5070@tailored-travel.co.uk</Email>
    <Username>ascd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFE2JB0tgoWR10Ru8lBQlR6fRuE7rXUCSWCevZqX5pepusLMdYd/yD6v7KH+t9MIqQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>