<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="5fdb5a44-421a-4552-b3e6-664c28adad10" Alias="TTM5092@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wncd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:10</CreateDate>
    <NodeName Default="wncd271" />
    <SortOrder>137</SortOrder>
    <Email>TTM5092@tailored-travel.co.uk</Email>
    <Username>wncd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEC3fQcQEhstnd+020932gPCp5z77vqYvPfDSlhMUi5AYVsAP1CL+Rj8IqjL4CKcl4w==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/5ab8a7e3f7264e969d6bb6ea7a2d7d18]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>