<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="62f8ea04-fc4a-4f1c-afd8-174d757d0522" Alias="TTM5117@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/burd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:01</CreateDate>
    <NodeName Default="burd262" />
    <SortOrder>80</SortOrder>
    <Email>TTM5117@tailored-travel.co.uk</Email>
    <Username>burd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEETLl5BuEkegF/7Inrl8/r6SF/5iNQtrXKxcl/NQj4xdH3xIqXs53hCsIH/s1KbAow==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>