<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="63b5e010-213b-4634-8d29-1066e268883d" Alias="TTM4889@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bedd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:00</CreateDate>
    <NodeName Default="bedd262" />
    <SortOrder>74</SortOrder>
    <Email>TTM4889@tailored-travel.co.uk</Email>
    <Username>bedd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEOLt21O4hNBpUDj3etyr8kcZ2w1FdhQL7FZ9M903GiQ9H1pr9k+oXHTum4XYT52eiw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>