<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="65ba0f5c-7a41-406b-9c67-a0177d423a70" Alias="TTM5144@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dngu271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:07</CreateDate>
    <NodeName Default="dngu271" />
    <SortOrder>115</SortOrder>
    <Email>TTM5144@tailored-travel.co.uk</Email>
    <Username>dngu271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEGMfxmKN/+DJZ+5BInoqNyG3lA966ac9dng27GC1dv/7C+Vja47oDfuqhGyqLd81iA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/05406cea593b479cbe74e1dca640efd3]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>