<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="69812b74-81ca-43f6-85a0-461bf7ce9c49" Alias="TTM4961@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cocd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:54</CreateDate>
    <NodeName Default="cocd262" />
    <SortOrder>38</SortOrder>
    <Email>TTM4961@tailored-travel.co.uk</Email>
    <Username>cocd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEKIqs8dIh79eQIR2aUc4/W/Hlt9X30HZYyNMCJvgVChCYshqLnUCW4rcCvZYLrZlnQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>