<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="6c72d40b-d48a-4f66-9a4d-16ecc33fa22c" Alias="TTM5045@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hasd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:59</CreateDate>
    <NodeName Default="hasd261" />
    <SortOrder>71</SortOrder>
    <Email>TTM5045@tailored-travel.co.uk</Email>
    <Username>hasd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEC0k0oebg4fj6tIhyLZnpk/VRmd4ZBkutUC9NZG7NFBJWxUTuFUfm1Vb7IBQgh3Vxg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>