<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="6fc32091-6d83-412f-b737-a91957f626b5" Alias="TTM5110@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tnt272</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:09</CreateDate>
    <NodeName Default="tnt272" />
    <SortOrder>130</SortOrder>
    <Email>TTM5110@tailored-travel.co.uk</Email>
    <Username>tnt272</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEINwiBYvZY1LN8PyGl2LdOJxMICtKyl3RKu7Sm/lnn2rLGot8uFcu6y47qBRpBe9yg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/a58bc53c35f44b38a2e5bcbc4d0df25d]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>