<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="72fdb750-33ca-490b-b21c-f6f0b9194229" Alias="TTM5154@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bcu271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:09</CreateDate>
    <NodeName Default="bcu271" />
    <SortOrder>128</SortOrder>
    <Email>TTM5154@tailored-travel.co.uk</Email>
    <Username>bcu271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEKWFJNAdDD9Zb92AyPCmzzftmXYd2a4Q0FUwomLG+tTpzFAoJI2gBE894c3i8Y0bPw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/44469c34443d48c48ac2ccd2a3335589]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>