<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="7696d61f-8f70-450f-86c4-563a8834c7b5" Alias="TTM5078@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nwru261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:50</CreateDate>
    <NodeName Default="nwru261" />
    <SortOrder>18</SortOrder>
    <Email>TTM5078@tailored-travel.co.uk</Email>
    <Username>nwru261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEB1Z2KmjsEoQoI3yT6mINZsbu8DD6PFnGUuHmcD5xPW0aCJAwCekQTweVB3QV2Eieg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>