<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="775b540d-b8a6-4bdc-92dc-1d4444347f10" Alias="TTM5079@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sesd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:00</CreateDate>
    <NodeName Default="sesd261" />
    <SortOrder>77</SortOrder>
    <Email>TTM5079@tailored-travel.co.uk</Email>
    <Username>sesd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAENyzXu5+hfaDNbCe9JWJWDffhJCcrvDf1wUOzGRXWHGE/4QE2n7aJCRiWvKa+UOURQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>