<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="7b54a403-7e18-47a8-a2a6-7b125be34c5c" Alias="TTM5126@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tes261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:03</CreateDate>
    <NodeName Default="tes261" />
    <SortOrder>93</SortOrder>
    <Email>TTM5126@tailored-travel.co.uk</Email>
    <Username>tes261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEPFmUecBevVzeGbob9/U9TxB68OQNOaPO/8DgEK1vXSv2WTJ2l/FL4J4Wd7uILSooA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>