<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="7c415067-a125-4345-99c9-e54ceb042592" Alias="TTM4982@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wesd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:51</CreateDate>
    <NodeName Default="wesd261" />
    <SortOrder>20</SortOrder>
    <Email>TTM4982@tailored-travel.co.uk</Email>
    <Username>wesd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEBQYMfB76DbH7gmvAjw1+jFPVTpZQlnxN1lhzAYvS+60Er/pVIcWIVpwB+4PtRpQeA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>