<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="7d1a03e3-6370-46bf-9b53-79a9ff86e1fe" Alias="TTM5118@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wokd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:01</CreateDate>
    <NodeName Default="wokd262" />
    <SortOrder>83</SortOrder>
    <Email>TTM5118@tailored-travel.co.uk</Email>
    <Username>wokd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEAOlD5t4roiNZPZhEuGf3ZtJ7w0RNhZ3dXVSTVGNzXecOo4Lh/DFG1urlz8ZF7YKZQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>