<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="7e3bd173-d14e-4c51-8ea7-ec83a7a5a332" Alias="TTM5102@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nwnt271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:08</CreateDate>
    <NodeName Default="nwnt271" />
    <SortOrder>122</SortOrder>
    <Email>TTM5102@tailored-travel.co.uk</Email>
    <Username>nwnt271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFn+spTqmb5fS2SNH4fdAqw8UQDMn4ZXh55RdvDQ8bjjiFmOh9eaPmbYAF2k6IlzQg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/e273ce836056488a9cd3f78ba786ef0d]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>