<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="7f0f6ff3-3c87-4d70-8136-821a622cbe8c" Alias="TTM4981@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chg262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:52</CreateDate>
    <NodeName Default="chg262" />
    <SortOrder>26</SortOrder>
    <Email>TTM4981@tailored-travel.co.uk</Email>
    <Username>chg262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEMXxNeybekpYeHxMBmzj0ZxiTTDPaF4Ps7cO199Xk/U7QMHFW6PSKdYoCOO4vWLK3w==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>