<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="7fa3ab49-c8aa-428f-b472-c7cda7e94ce7" Alias="TTM5031@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/idgs261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:52</CreateDate>
    <NodeName Default="idgs261" />
    <SortOrder>27</SortOrder>
    <Email>TTM5031@tailored-travel.co.uk</Email>
    <Username>idgs261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAECSSL7aBPH+ix7+cb6XJOdlW3qsZRuQdvuEvH0mRfF0jtwO5Km7zf5Cab9VlsD273Q==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>