<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="7fd2e434-2162-4b01-a870-4e2097d700f9" Alias="TTM5120@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ryyd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:02</CreateDate>
    <NodeName Default="ryyd262" />
    <SortOrder>89</SortOrder>
    <Email>TTM5120@tailored-travel.co.uk</Email>
    <Username>ryyd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEDZ60wyolHheSV658xSovaALRiJ+s4HbW3MSbcS0id4tS7mmcznRKPC+6QGHwZtjrg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>