<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="81544f22-ccd3-4ecb-82fc-5f40d7b463b8" Alias="TTM5035@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/radd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:50</CreateDate>
    <NodeName Default="radd261" />
    <SortOrder>14</SortOrder>
    <Email>TTM5035@tailored-travel.co.uk</Email>
    <Username>radd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEHxAMseJmBFhsXsnIRx+2RN6gHPvLIakqZkL4TOHF7XeRoYqS6RoaXHJEJBwQ9n2ng==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>