<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="835cf0c1-667c-4b4e-86f0-cb9bec854b99" Alias="TTM5066@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bkmd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:51</CreateDate>
    <NodeName Default="bkmd262" />
    <SortOrder>22</SortOrder>
    <Email>TTM5066@tailored-travel.co.uk</Email>
    <Username>bkmd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEE+MVp0oAug0Fgxj9ifaIub7VpCZkTTlt1Zpbhlg0q7/OjSU9WD5fP8g8hvrNWGrZg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>