<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="83845099-d163-455d-983e-462c90eeca9f" Alias="TTM5121@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chsd262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:54</CreateDate>
    <NodeName Default="chsd262" />
    <SortOrder>43</SortOrder>
    <Email>TTM5121@tailored-travel.co.uk</Email>
    <Username>chsd262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEAXFRa/g93gjx+UFLu2pzyYJXHurNUM/wPTpAvk09v7zA5sFs7EurhS1nsEKeoOUvA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>