<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="8e20d178-bd6c-49ae-9d72-7c7482540d82" Alias="TTM5171@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rchd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:11</CreateDate>
    <NodeName Default="rchd271" />
    <SortOrder>143</SortOrder>
    <Email>TTM5171@tailored-travel.co.uk</Email>
    <Username>rchd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEAu/Um7bvay5l6wZPB2haPYGI77Nibali1l5xqH+R+X458cxXU7Cp6OSsvvTKvlPdA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/1369f12ce5554fa2a29937de7cff42c1]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>