<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="8f589753-a66c-4a26-8c5d-09699d3f3723" Alias="TTM5087@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/lewu271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:08</CreateDate>
    <NodeName Default="lewu271" />
    <SortOrder>126</SortOrder>
    <Email>TTM5087@tailored-travel.co.uk</Email>
    <Username>lewu271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAELqKkaGEykiJXeM72ADUAbWgJQ6FIcH59/sAPUzzmuod1MaxWP7pTbFCSrv2riMr0Q==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/1f3af221995448b5b8e31f4b5cc5633b]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>