<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="90e19cb5-bec1-4811-a97c-aa4270e86284" Alias="TTM5047@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wtnt261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:52</CreateDate>
    <NodeName Default="wtnt261" />
    <SortOrder>30</SortOrder>
    <Email>TTM5047@tailored-travel.co.uk</Email>
    <Username>wtnt261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEIQckRQd7EiVXT9IjHuH/9URnxhmniwDnqrb43bKZSpK+XH/7udylTuOWt7wwqKOFg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>