<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="9283a467-16f4-4dcd-8b6f-5319e334c957" Alias="TTM5165@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tpma272</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:11</CreateDate>
    <NodeName Default="tpma272" />
    <SortOrder>142</SortOrder>
    <Email>TTM5165@tailored-travel.co.uk</Email>
    <Username>tpma272</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEETPnsYbJn12uVG3qZiFVCwAKwqpSVgewysBfP++/5ZOZ3DWzC2PpPrmx7ZaAw8ASg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/27bb777c87fb4d67ad4e778a8643a7ce]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>