<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="97e136f5-b96d-4fb8-bf8e-2026308d9c55" Alias="TTM5155@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/frcc271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:08</CreateDate>
    <NodeName Default="frcc271" />
    <SortOrder>125</SortOrder>
    <Email>TTM5155@tailored-travel.co.uk</Email>
    <Username>frcc271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAENOC7XqhGc098aBNypwTiGuWJYeBwBGgyH6qyQBG6dJeAcXLUByJN+3JkwaVrq5CfA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/74ab24d18db94cb198af7532f05791b5]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>