<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="982d6285-ac6a-469a-8f5f-19688aa49734" Alias="TTM5063@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wend261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-02T14:30:10</CreateDate>
    <NodeName Default="wend261" />
    <SortOrder>0</SortOrder>
    <Email>TTM5063@tailored-travel.co.uk</Email>
    <Username>wend261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEMfKzp1cLPPbapo5tp/F0pX6w8/GRiLZXornsq5pGbJDujE/i4ydvaEL3bQFlupxgA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/995071873af1448b9cde6ef288e9c772]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>