<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="a153fb00-3343-44f5-b871-80be4c0da2f4" Alias="TTM5091@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fre261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:54</CreateDate>
    <NodeName Default="fre261" />
    <SortOrder>39</SortOrder>
    <Email>TTM5091@tailored-travel.co.uk</Email>
    <Username>fre261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEKnSqlgmduglXXl9o0R9qK/885BqUpg+7ODzVwKpEPi93oaF3TjLbkWazLnNNCFDBg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>