<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="a1c8fb97-4950-46e1-99b3-54e4f4f5c9b8" Alias="TTM4956@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/afwi262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:58</CreateDate>
    <NodeName Default="afwi262" />
    <SortOrder>63</SortOrder>
    <Email>TTM4956@tailored-travel.co.uk</Email>
    <Username>afwi262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAELhGT4l/ZjguQ6w6nsXdjCW+Chx9e+SW+8nudegdgjc2b6/6bqBUfPK+ycPzKEshKw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>