<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="a3bc6deb-282b-44d1-b99b-124940840e87" Alias="TTM5170@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/exa271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:05</CreateDate>
    <NodeName Default="exa271" />
    <SortOrder>106</SortOrder>
    <Email>TTM5170@tailored-travel.co.uk</Email>
    <Username>exa271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEO7wPQfrLQzZGOzv6VgpWFhrEk2q7BwNC4PqpqzQ1BlP1ABoBxB1Aeq5tzESIsnhiQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>