<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="a5873d45-d02d-48b7-bfe4-6e6cb67e00ab" Alias="TTM5127@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/gcrd272</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:05</CreateDate>
    <NodeName Default="gcrd272" />
    <SortOrder>108</SortOrder>
    <Email>TTM5127@tailored-travel.co.uk</Email>
    <Username>gcrd272</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEETK8kX/k7S1mvEZBG+DsVFrbinEv1oracdmt3YvXvySxJQ9epY/nNl3Xl4yN4AevA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/500419b9c3094a1cac770816f752c991]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>