<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="ad1e4aa5-fc37-40bf-8fc4-9e9eb335af31" Alias="TTM4968@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/midd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:54</CreateDate>
    <NodeName Default="midd261" />
    <SortOrder>42</SortOrder>
    <Email>TTM4968@tailored-travel.co.uk</Email>
    <Username>midd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEMBL171HtXDjXRgoBdUpGqKvJL0DnwcaQLy8hTcV4Xf5dlSrdo7fbu64Pc46C8hURw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>