<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="ae9562f3-4179-4764-b620-66afca46b008" Alias="TTM5103@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sald271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:05</CreateDate>
    <NodeName Default="sald271" />
    <SortOrder>105</SortOrder>
    <Email>TTM5103@tailored-travel.co.uk</Email>
    <Username>sald271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEB9SvpRgGW1Lj5DBefkKMhy02byp4vSNQgfjLaLM1vxPR2zhQfDpfT+/dP5KwiFqIQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>