<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="b1404668-3973-462b-b710-0e49441fec49" Alias="TTM5059@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/drwe261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:56</CreateDate>
    <NodeName Default="drwe261" />
    <SortOrder>54</SortOrder>
    <Email>TTM5059@tailored-travel.co.uk</Email>
    <Username>drwe261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEHyzymbM2tvpUY5o1V22+ZTK8g5KtDXbrlS9wvh+tHl/5zA53xrsCLfWZ7d1hjpnHg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>