<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="b5605faa-c72a-4bf6-a541-07bb180280d0" Alias="TTM5036@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nysd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:00</CreateDate>
    <NodeName Default="nysd261" />
    <SortOrder>75</SortOrder>
    <Email>TTM5036@tailored-travel.co.uk</Email>
    <Username>nysd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAENNz2FAuwhxkAiNWkHOHR9haWD8ZQOXRXtJak5y1+xGOV70jYNihWOoRT70EY/OS4w==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>