<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="b98c7fc2-8546-4258-915b-0b1dc1261624" Alias="TTM5062@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cpdd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:55</CreateDate>
    <NodeName Default="cpdd261" />
    <SortOrder>45</SortOrder>
    <Email>TTM5062@tailored-travel.co.uk</Email>
    <Username>cpdd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEB270ekj3cjQotMvKnrcUleNZ4ykHiWJF47unZgq3fiH4f+tyi4dC2rPK83yX+x3Cw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>