<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="c5a0ca72-a751-43e3-a7d2-c02375f62169" Alias="TTM5095@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blad261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T06:48:05</CreateDate>
    <NodeName Default="blad261" />
    <SortOrder>2</SortOrder>
    <Email>TTM5095@tailored-travel.co.uk</Email>
    <Username>blad261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEDoWEOvz3MrmU/zmmXBnmC5sudRiI6SDu3lBmVNOkiaQUp79+41F34NMRJauq7l1fw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/6c100004a63a465aa5cd725c3b502889]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>