<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="c67bdab3-052d-4d3a-845d-0f377ceda897" Alias="TTM5108@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/htc261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:03</CreateDate>
    <NodeName Default="htc261" />
    <SortOrder>95</SortOrder>
    <Email>TTM5108@tailored-travel.co.uk</Email>
    <Username>htc261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEA1/QTUtq24aWkfafwv/KTdaIsPVKe9Y29yM/oJrxJWF7oCmom1mgd0ZCBsJ6GAtEA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>