<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="c9b89ee2-afdf-48be-b74b-0a720fa380e7" Alias="TTM5134@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wint272</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:09</CreateDate>
    <NodeName Default="wint272" />
    <SortOrder>131</SortOrder>
    <Email>TTM5134@tailored-travel.co.uk</Email>
    <Username>wint272</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEGGlyY3+BO5lvVPqXOWE8mDNKGw/Ew8OSOkK46M4hBBqYF/kZjC9vYnW/FLa0XJNpw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/db011ebb878844bab438d4c1f77d8c8c]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>