<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="cb853387-3a3f-43dc-b05e-413f131515f6" Alias="TTM5161@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blcu271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:09</CreateDate>
    <NodeName Default="blcu271" />
    <SortOrder>129</SortOrder>
    <Email>TTM5161@tailored-travel.co.uk</Email>
    <Username>blcu271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEMTKi5CBgvcj/9iEYSpDZRft4CTX0BZDi4CgDRy2X1PyJr1Nc7as+HSiJPc6MngOzg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/c0168fe0024142779ee2cfec840a6414]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>