<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="cead286c-740d-48e9-bafd-3c322b9cf805" Alias="TTM5148@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ipsd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:02</CreateDate>
    <NodeName Default="ipsd261" />
    <SortOrder>88</SortOrder>
    <Email>TTM5148@tailored-travel.co.uk</Email>
    <Username>ipsd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEHhwgQsxclE8z56wHejHvEzaiBQKPW/OJe/tSxAW0jPltQqsKZBQbr1edndItqGRKA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>