<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="da26f1fd-6f80-40e6-afef-e23a2ea18cc0" Alias="TTM5084@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/havd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:59</CreateDate>
    <NodeName Default="havd261" />
    <SortOrder>69</SortOrder>
    <Email>TTM5084@tailored-travel.co.uk</Email>
    <Username>havd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEHMKvRgWpjjZWEP6fG6kF/YghrYCW/GC/H2AsPv94FqvqqprmAjguSVOlm8WrepALw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>