<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="db0ea90e-049b-40f3-a949-dc197e804578" Alias="TTM5044@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wtrn261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:52</CreateDate>
    <NodeName Default="wtrn261" />
    <SortOrder>28</SortOrder>
    <Email>TTM5044@tailored-travel.co.uk</Email>
    <Username>wtrn261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAENCqCmw+zTgmlQqDbLgdfk1b9IkXLRwtJCRoz3mOOzjNQZM3sJeI91655EQvSmHGyw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>