<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="e0de69e6-4da5-4b91-8b23-ddbf0c25e5e4" Alias="TTM4896@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bnt261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:51</CreateDate>
    <NodeName Default="bnt261" />
    <SortOrder>24</SortOrder>
    <Email>TTM4896@tailored-travel.co.uk</Email>
    <Username>bnt261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEGsIrEZ3TbKMriHB3MlX0Mwg5UpwBa3YEi8r7taQbPn8hYJVLtppYg/33Zr3l6ElPg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>