<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="e38cb7d9-2791-4d04-b752-507bdca784d7" Alias="TTM5156@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blad271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:08</CreateDate>
    <NodeName Default="blad271" />
    <SortOrder>123</SortOrder>
    <Email>TTM5156@tailored-travel.co.uk</Email>
    <Username>blad271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAELQIRC/jQ0a9WEOJGsLY75fnaWnjN6HGP1tvY8qHHlaIPYUBlyAiEdbJVPuWm6zw1Q==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/2e969a8e144d412a899f67aae9447ac9]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>