<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="e5738f93-864a-4872-b09b-c49dbc67a1f3" Alias="TTM5135@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rcnt272</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:08</CreateDate>
    <NodeName Default="rcnt272" />
    <SortOrder>121</SortOrder>
    <Email>TTM5135@tailored-travel.co.uk</Email>
    <Username>rcnt272</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEGtKu/rUXMtUImH50rlbltbbS3fLx+DfKmnAjz8vHwXeQScgBM9TV9WYZ/7y0i/Pew==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/6a40295dc8454fba9390abac77ddbc25]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>