<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="e60a0d48-2645-434d-b589-d70460f97e74" Alias="TTM5109@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/crmd272</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:04</CreateDate>
    <NodeName Default="crmd272" />
    <SortOrder>102</SortOrder>
    <Email>TTM5109@tailored-travel.co.uk</Email>
    <Username>crmd272</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEMnxHeK8nfF6kYQwbjiz+LhC1pFe1sMjB2AEUkuaAU0bUs9pZ2XOGxgi2gALzIJMSg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>