<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="e97bdcf2-563f-4fdb-b1c1-6166d35090e2" Alias="TTM5159@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bedd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:04</CreateDate>
    <NodeName Default="bedd271" />
    <SortOrder>100</SortOrder>
    <Email>TTM5159@tailored-travel.co.uk</Email>
    <Username>bedd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAENlLlx2P/iGD4kqlIn8yYKBO2J42LovGD6pX5QZm035UtrRpDH7aPm/esA44mTGrCQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>