<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="eea4ace5-3be6-4f3c-bc81-724ca91f671e" Alias="TTM5112@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tnt271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:08</CreateDate>
    <NodeName Default="tnt271" />
    <SortOrder>124</SortOrder>
    <Email>TTM5112@tailored-travel.co.uk</Email>
    <Username>tnt271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEBKX2aESLs0oGk7LZ826vK5/28vM7xljtipehh8myZeqWgUwwbrpwQZQuwGzyXllSA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/c211f63de2c141e7aeadd9b11db7b3bd]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>