<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="f5146948-bccc-447d-ace5-ef8c6dd97868" Alias="TTM5049@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ryyd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:48</CreateDate>
    <NodeName Default="ryyd261" />
    <SortOrder>6</SortOrder>
    <Email>TTM5049@tailored-travel.co.uk</Email>
    <Username>ryyd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEPXtCIn1B3YNH7qwaFH1MfwpKSllKWkCebQSLHwUlWoQeMzmYtnZzVjyH9AuYcvdAw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>