<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="f741376b-342d-45b3-8adc-2ce45f8aa4fb" Alias="TTM5098@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wncd272</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:05</CreateDate>
    <NodeName Default="wncd272" />
    <SortOrder>104</SortOrder>
    <Email>TTM5098@tailored-travel.co.uk</Email>
    <Username>wncd272</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEPIf3cxMc2wNBohfnsad0nIYiVSpjv4n3vls0cWAJZm94MFYraRqKc8tT+qOK2Z2sQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>