<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="f7411b0d-d86b-4f25-b5d9-ef253dfc5b34" Alias="TTM5040@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wrld261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:55</CreateDate>
    <NodeName Default="wrld261" />
    <SortOrder>49</SortOrder>
    <Email>TTM5040@tailored-travel.co.uk</Email>
    <Username>wrld261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEPTJSRI5Rhrg3iPFEQ86d+Yzz+mFgkbmMfu+rN/mBCWEz/abkebrUhTypsGGEHYsPQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>