<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="f7bbc9b0-b66d-4391-a30c-b17da70c1980" Alias="TTM5075@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nhnt261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:53</CreateDate>
    <NodeName Default="nhnt261" />
    <SortOrder>35</SortOrder>
    <Email>TTM5075@tailored-travel.co.uk</Email>
    <Username>nhnt261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAECaARw0BozFYm/8pkKlBDlrFKzZ9RdrKSPWmphieZLo9y9j1i7iK7Bb+SnR5uzcrLw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>