<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="f8a2fd1f-fa12-4701-aeb0-dfd5683cd5d0" Alias="TTM4902@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rent261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:57</CreateDate>
    <NodeName Default="rent261" />
    <SortOrder>60</SortOrder>
    <Email>TTM4902@tailored-travel.co.uk</Email>
    <Username>rent261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEP7D4jDzqCuG7Q2+c6O0JtO4va9gCeefb8jZuYf3YFlySD3U6xraxwDQYBZ/sUuStw==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>