<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="f8c47781-2b8e-400c-8276-41bda659feb4" Alias="TTM5139@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bhd261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:02</CreateDate>
    <NodeName Default="bhd261" />
    <SortOrder>86</SortOrder>
    <Email>TTM5139@tailored-travel.co.uk</Email>
    <Username>bhd261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEOd38FoVPO0I2fixhE8InPrD4k2cFc/7WqrUHdzwm42ZmKgB7RyahUSoMuFHQbpbQg==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>