<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="f8f94c90-2dd1-4c56-89ee-a4925d88188b" Alias="TTM5128@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rmnt261</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:56</CreateDate>
    <NodeName Default="rmnt261" />
    <SortOrder>52</SortOrder>
    <Email>TTM5128@tailored-travel.co.uk</Email>
    <Username>rmnt261</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAELb3l9U6xIX8ohDndToEn0+OrF0tu46uqtqh4lwUPRtxvU1CcvZtKkdYT/w9PGmAXQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>