<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="f97fdb19-af6c-44ff-a090-66d1d79cdb2d" Alias="TTM5175@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ribd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:10</CreateDate>
    <NodeName Default="ribd271" />
    <SortOrder>136</SortOrder>
    <Email>TTM5175@tailored-travel.co.uk</Email>
    <Username>ribd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEAaxrd/dyvpdOhqc5y6tWrlIp/grQQZsuO7YN6kqxM9NXB9VVJ8AEv2OhwH3QbngfA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/3d64a028adb54e989d776a87ac0fe151]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>