<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="fb59a03b-6705-454a-8577-1846c79e1c63" Alias="TTM4932@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rent262</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:48</CreateDate>
    <NodeName Default="rent262" />
    <SortOrder>5</SortOrder>
    <Email>TTM4932@tailored-travel.co.uk</Email>
    <Username>rent262</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEDpuTxSPYlc8mix53XCCki8PBzXyEPcAFoYZAe3oXehAeB0Har19zsnz5O6efhn4/g==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>