<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="fd8314a4-dc8a-4026-8029-b8ff8341e0bb" Alias="TTM5157@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tntd271</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:15:11</CreateDate>
    <NodeName Default="tntd271" />
    <SortOrder>140</SortOrder>
    <Email>TTM5157@tailored-travel.co.uk</Email>
    <Username>tntd271</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEAiadJgkgnIzOPSiOTADNDPE4bAWQYOGR5RPFGUDsPSVkia0rYv4Irp7JpGbSYZiMA==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[umb://document/2bb9019346804ec4afa9d2efc07b427b]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>