<?xml version="1.0" encoding="utf-8"?>
<memberTailoredTour Key="fe4f6a93-022e-4e67-b07c-8c86813535c3" Alias="TTM4988@tailored-travel.co.uk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/welu263</Path>
    <Trashed>false</Trashed>
    <ContentType>memberTailoredTour</ContentType>
    <CreateDate>2026-06-18T13:14:51</CreateDate>
    <NodeName Default="welu263" />
    <SortOrder>21</SortOrder>
    <Email>TTM4988@tailored-travel.co.uk</Email>
    <Username>welu263</Username>
    <MemberType>memberTailoredTour</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEPet2Lv6CPbblx8osLYnLw4DVg87DFHJ/1E9W+Jfz3ltQhcGs1iz/KuuBxjqi/FcXQ==</RawPassword>
    <PasswordConfig>{"hashAlgorithm":"PBKDF2.ASPNETCORE.V3"}</PasswordConfig>
  </Info>
  <Properties>
    <memberTourPage>
      <Value><![CDATA[]]></Value>
    </memberTourPage>
  </Properties>
  <Groups>
    <Group>Tailored Tours</Group>
  </Groups>
</memberTailoredTour>