<?xml version="1.0" encoding="utf-8"?>
<protect Key="a289271d-d57e-4fc2-9942-c41cc4a6bfa0" Alias="TTM5114">
  <Info>
    <Path>/Home/TailoredTours/TTM5114</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>afwi271</RuleValue>
    </Rule>
  </Rules>
</protect>