<?xml version="1.0" encoding="utf-8"?>
<protect Key="4ce571cd-b989-4671-9625-cba16cf8034d" Alias="TTM5176">
  <Info>
    <Path>/Home/TailoredTours/TTM5176</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>wswd271</RuleValue>
    </Rule>
  </Rules>
</protect>