<?xml version="1.0" encoding="utf-8"?>
<protect Key="a58bc53c-35f4-4b38-a2e5-bcbc4d0df25d" Alias="TTM5110">
  <Info>
    <Path>/Home/TailoredTours/TTM5110</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>tnt272</RuleValue>
    </Rule>
  </Rules>
</protect>