<?xml version="1.0" encoding="utf-8"?>
<protect Key="c0168fe0-0241-4277-9ee2-cfec840a6414" Alias="TTM5161">
  <Info>
    <Path>/Home/TailoredTours/TTM5161</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>blcu271</RuleValue>
    </Rule>
  </Rules>
</protect>