<?xml version="1.0" encoding="utf-8"?>
<protect Key="20252565-f58e-41b9-8096-4dae93a90f51" Alias="TTM5123">
  <Info>
    <Path>/Home/TailoredTours/TTM5123</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>cocd271</RuleValue>
    </Rule>
  </Rules>
</protect>