<?xml version="1.0" encoding="utf-8"?>
<protect Key="44469c34-443d-48c4-8ac2-ccd2a3335589" Alias="TTM5154">
  <Info>
    <Path>/Home/TailoredTours/TTM5154</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>bcu271</RuleValue>
    </Rule>
  </Rules>
</protect>