<?xml version="1.0" encoding="utf-8"?>
<protect Key="6f18bd39-a491-40b1-968f-ae833ae2e6b4" Alias="TTM5169">
  <Info>
    <Path>/Home/TailoredTours/TTM5169</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>altd271</RuleValue>
    </Rule>
  </Rules>
</protect>