<?xml version="1.0" encoding="utf-8"?>
<protect Key="57d6a1ed-6293-4c6a-9620-fd9babc64a76" Alias="TTM5086">
  <Info>
    <Path>/Home/TailoredTours/TTM5086</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>cldo271</RuleValue>
    </Rule>
  </Rules>
</protect>