<?xml version="1.0" encoding="utf-8"?>
<protect Key="e273ce83-6056-488a-9cd3-f78ba786ef0d" Alias="TTM5102">
  <Info>
    <Path>/Home/TailoredTours/TTM5102</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>nwnt271</RuleValue>
    </Rule>
  </Rules>
</protect>