<?xml version="1.0" encoding="utf-8"?>
<protect Key="6a40295d-c845-4fba-9390-abac77ddbc25" Alias="TTM5135">
  <Info>
    <Path>/Home/TailoredTours/TTM5135</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>rcnt272</RuleValue>
    </Rule>
  </Rules>
</protect>