<?xml version="1.0" encoding="utf-8"?>
<protect Key="1369f12c-e555-4fa2-a299-37de7cff42c1" Alias="TTM5171">
  <Info>
    <Path>/Home/TailoredTours/TTM5171</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>rchd271</RuleValue>
    </Rule>
  </Rules>
</protect>