<?xml version="1.0" encoding="utf-8"?>
<protect Key="9795b2e2-1271-4929-9c74-ac22f0d8ae1a" Alias="TTM5125">
  <Info>
    <Path>/Home/TailoredTours/TTM5125</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>blod271</RuleValue>
    </Rule>
  </Rules>
</protect>