<?xml version="1.0" encoding="utf-8"?>
<protect Key="2e969a8e-144d-412a-899f-67aae9447ac9" Alias="TTM5156">
  <Info>
    <Path>/Home/TailoredTours/TTM5156</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>blad271</RuleValue>
    </Rule>
  </Rules>
</protect>