<?xml version="1.0" encoding="utf-8"?>
<protect Key="b7bd8af1-1cce-48c8-8e40-be21e0c5f0d7" Alias="TTM5142">
  <Info>
    <Path>/Home/TailoredTours/TTM5142</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>wesd271</RuleValue>
    </Rule>
  </Rules>
</protect>