<?xml version="1.0" encoding="utf-8"?>
<protect Key="51e10ae8-0e9c-4ff2-9dcd-bc46ec2d6cea" Alias="TTM5124">
  <Info>
    <Path>/Home/TailoredTours/TTM5124</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>gcrd271</RuleValue>
    </Rule>
  </Rules>
</protect>