<?xml version="1.0" encoding="utf-8"?>
<protect Key="438d3d66-3dc4-4c44-b840-8ec96932b95b" Alias="TTM5174">
  <Info>
    <Path>/Home/TailoredTours/TTM5174</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>ricd271</RuleValue>
    </Rule>
  </Rules>
</protect>