<?xml version="1.0" encoding="utf-8"?>
<protect Key="94d8adbf-143a-40ed-b751-ef6adabc15b2" Alias="TTM5178">
  <Info>
    <Path>/Home/TailoredTours/TTM5178</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>bscy271</RuleValue>
    </Rule>
  </Rules>
</protect>