<?xml version="1.0" encoding="utf-8"?>
<protect Key="1f3af221-9954-48b5-b8e3-1f4b5cc5633b" Alias="TTM5087">
  <Info>
    <Path>/Home/TailoredTours/TTM5087</Path>
    <LoginNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</LoginNode>
    <NoAccessNode Key="dd9b7287-a3ff-418e-893d-b84df7de7500">/Home/TailoredTours</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>lewu271</RuleValue>
    </Rule>
  </Rules>
</protect>