<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ecd82a1-c945-4c77-b7e0-764c103fd727" Alias="Accreditations" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Accreditations</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-14T19:28:26</CreateDate>
    <NodeName Default="Accreditations" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties />
</Media>