<?xml version="1.0" encoding="utf-8"?>
<Media Key="805c6bee-2270-4f46-87a1-60af39204f95" Alias="Ascott House" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/AscottHouse</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-05-12T07:40:09</CreateDate>
    <NodeName Default="Ascott House" />
    <SortOrder>153</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Ascott House — half-timbered Rothschild family country house set in landscaped gardens]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "United Kingdom"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Ascott House, near Wing in Buckinghamshire, is a Rothschild family home displaying an exceptional collection of paintings, fine furniture, and oriental porcelain.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[ascott-house-1.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Ascott House]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/wkulbrt3/ascott-house-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>