<?xml version="1.0" encoding="utf-8"?>
<Media Key="76eb623c-53c0-48de-ab0f-4816bffea0ad" Alias="ATOL Protected" Level="2">
  <Info>
    <Parent Key="4ecd82a1-c945-4c77-b7e0-764c103fd727">Accreditations</Parent>
    <Path>/Accreditations/ATOLProtected</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-14T19:29:35</CreateDate>
    <NodeName Default="ATOL Protected" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hjrow3wa/atol-protected-logo-vectorsvg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>