<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a7e855b-2528-43b6-9449-62df159b2d52" Alias="De Valera Library &amp; Súil Art Gallery Ennis, Co Clare, Ireland.pdf" Level="2">
  <Info>
    <Parent Key="52aa820a-a5c6-4a59-a536-6dc984ed07ee">PDF</Parent>
    <Path>/PDF/DeValeraLibrarySuilArtGalleryEnnisCoClareIrelandpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-03-10T16:14:39</CreateDate>
    <NodeName Default="De Valera Library &amp; Súil Art Gallery Ennis, Co Clare, Ireland.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/owch20ri/de-valera-library-súil-art-gallery-ennis-co-clare-ireland.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>