<?xml version="1.0" encoding="utf-8"?>
<Media Key="05dcef29-f04c-4013-bdfd-3cd392982466" Alias="Dublin-Trinity-College-hanna-may-ORehLWGSZ4s-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/DublinTrinityCollegeHannaMayORehLWGSZ4sUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-14T09:42:48</CreateDate>
    <NodeName Default="Dublin-Trinity-College-hanna-may-ORehLWGSZ4s-unsplash.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Georgian stone buildings with distinctive red brick facades and white stone detailing arranged in a symmetrical architectural composition]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Ireland"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Trinity College Dublin, is Ireland's oldest university. It features Georgian architecture, Long Room library, and historic courtyards worth exploring.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[dublin-trinity-college-hanna-may-orehlwgsz4s-unsplash.jpg]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Dublin Trinity College]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/ouwdaq0b/dublin-trinity-college-hanna-may-orehlwgsz4s-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>