<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1130f10-be25-41d3-a98e-a28d20d96348" Alias="Ghent-St-Bavos-Cathedral-antonio-sessa-mklasECpjFs-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/GhentStBavosCathedralAntonioSessaMklasECpjFsUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-15T10:17:23</CreateDate>
    <NodeName Default="Ghent-St-Bavos-Cathedral-antonio-sessa-mklasECpjFs-unsplash.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Interior of a Gothic cathedral with soaring stone columns and arched ceilings, illuminated by vibrant stained glass windows casting colorful light throughout the space.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Belgium"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[St Bavos Cathedral in Ghent features stunning Gothic architecture with soaring stone columns and magnificent stained glass windows.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[ghent-st-bavos-cathedral-antonio-sessa-mklasecpjfs-unsplash.jpg]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[St Bavos Cathedral]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/jtgp53zi/ghent-st-bavos-cathedral-antonio-sessa-mklasecpjfs-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>