<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1b73297-8b1e-477f-9dbd-64cc09b988e1" Alias="Group Tours Italy" Level="2">
  <Info>
    <Parent Key="c72b5e73-1e14-4fa3-a739-e8a22dd25e25">Groups</Parent>
    <Path>/Groups/GroupToursItaly</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-14T07:09:33</CreateDate>
    <NodeName Default="Group Tours Italy" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Group of visitors posed in the medieval hilltop town of Montefalco, with historic stone buildings and views across the countryside.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Italy"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Members of the Bury St Edmunds Art Society in Montefalco, the picturesque hilltop town, renowned for its medieval architecture and artistic heritage.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[italy-umbria-bury-st-edmunds-as-montefalco-terence-rodrigues.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Bury St Edmunds Art Society at Montefalco, Umbria]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5020443643153795,
    "top": 0.6209057737711955
  },
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/zpyfxjyt/italy-umbria-bury-st-edmunds-as-montefalco-terence-rodrigues.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>