<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dfb8281-76f0-4eb9-924e-3fa7c1d6398a" Alias="Group Tours Southern Europe" Level="2">
  <Info>
    <Parent Key="c72b5e73-1e14-4fa3-a739-e8a22dd25e25">Groups</Parent>
    <Path>/Groups/GroupToursSouthernEurope</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-14T07:09:34</CreateDate>
    <NodeName Default="Group Tours Southern Europe" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Group of visitors posed outside the Church of St Mary in Mosta, Malta, featuring its iconic domed structure.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Southern Europe"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Members of the Gade Valley Arts Society outside the Church of St Mary (the Mosta Rotunda), the distinctive domed church.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[malta-gade-valley-arts-society-outside-the-church-of-st-mary-mosta-anthony-archer.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Gade Valley Arts Society at the Church of St Mary, Mosta, Malta]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.49586297929879913,
    "top": 0.750032195750161
  },
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/1vaboc53/malta-gade-valley-arts-society-outside-the-church-of-st-mary-mosta-anthony-archer.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>