<?xml version="1.0" encoding="utf-8"?>
<Media Key="79961e88-44a9-479a-a86d-4380900ab6a4" Alias="Group Tours Holland" Level="2">
  <Info>
    <Parent Key="c72b5e73-1e14-4fa3-a739-e8a22dd25e25">Groups</Parent>
    <Path>/Groups/GroupToursHolland</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-14T07:09:32</CreateDate>
    <NodeName Default="Group Tours Holland" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Group of visitors gathered in The Hague, a historic Dutch city with classical architecture and waterfront.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Holland"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Members of the North Yorkshire and South Durham Arts Society pose for a group photograph during their visit to The Hague, the seat of Dutch government.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[holland-north-yorkshire-south-durham-arts-society-the-hague-janet-phillips.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[North Yorkshire & South Durham Arts Society at The Hague]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0tohup3e/holland-north-yorkshire-south-durham-arts-society-the-hague-janet-phillips.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>