<?xml version="1.0" encoding="utf-8"?>
<Media Key="466f9a8f-fbcf-4f1e-a07d-df0f1046c6dd" Alias="Group Tours Austria" Level="2">
  <Info>
    <Parent Key="c72b5e73-1e14-4fa3-a739-e8a22dd25e25">Groups</Parent>
    <Path>/Groups/GroupToursAustria</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-14T07:09:29</CreateDate>
    <NodeName Default="Group Tours Austria" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Group of visitors gathered outside the Upper Belvedere Palace, a grand Baroque palace in Vienna with ornate architecture.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Austria"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Members of the Stamford Decorative & Fine Arts Society pose outside the Upper Belvedere Palace, a magnificent Baroque palace in Vienna.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[stamford-dfas-to-vienna-upper-belvedere-palace.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Stamford DFAS at Upper Belvedere Palace, Vienna]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0nmigagc/stamford-dfas-to-vienna-upper-belvedere-palace.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>