<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f52d30b-8556-468d-b986-cff6fc7d5acb" Alias="Group Tours Portugal" Level="2">
  <Info>
    <Parent Key="c72b5e73-1e14-4fa3-a739-e8a22dd25e25">Groups</Parent>
    <Path>/Groups/GroupToursPortugal</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-14T07:09:33</CreateDate>
    <NodeName Default="Group Tours Portugal" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Group of visitors gathered beside a statue of King Afonso Henriques in the historic city of Guimarães, Portugal.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Portugal"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Members of the City of Chichester Art Society pose beside the statue of King Afonso Henriques at Guimarães, historic birthplace of the Portuguese nation.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[portugal-porto-city-of-chicheseter-with-the-statue-of-king-afonso-henriques-at-guimara-âes-martin-willard.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[City of Chichester at the Statue of King Afonso Henriques, Guimarães]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/k2il3sk1/portugal-porto-city-of-chicheseter-with-the-statue-of-king-afonso-henriques-at-guimara-\u00E2es-martin-willard.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>