<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b672c97-fbd8-4724-9055-83cdf445dd62" Alias="HI RES - ethem mosque - shutterstock_2504069821.webp" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/HIRESEthemMosqueShutterstock_2504069821webp</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-06-05T08:21:18</CreateDate>
    <NodeName Default="HI RES - ethem mosque - shutterstock_2504069821.webp" />
    <SortOrder>609</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[The interior of the Et'hem Bey Mosque in Tirana, an ornately painted dome and ceiling above a hanging chandelier]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Central and Eastern Europe"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[The early 19th-century Et'hem Bey Mosque on Skanderbeg Square in Tirana, famed for its frescoes of trees, waterfalls and bridges.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[2504069821]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[Kim Willems / Shutterstock]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[Kim Willems]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[hi-res-ethem-mosque-shutterstock_2504069821.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[[
  "Shutterstock"
]]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Et'hem Bey Mosque, Tirana]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/zpxiw1ov/hi-res-ethem-mosque-shutterstock_2504069821.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>