<?xml version="1.0" encoding="utf-8"?>
<Media Key="080b44af-da02-4d41-b83a-02ef19c59b16" Alias="Individual Tours" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IndividualTours</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-07-16T07:21:01</CreateDate>
    <NodeName Default="Individual Tours" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties />
</Media>