<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5f474fa-e06a-4d0f-bb09-f15a72b9c11a" Alias="Kraków-Wawel-Royal-Castle-lindsey-bahia-xoc2KsSMM8k-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/KrakowWawelRoyalCastleLindseyBahiaXoc2KsSMM8kUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-15T12:12:28</CreateDate>
    <NodeName Default="Kraków-Wawel-Royal-Castle-lindsey-bahia-xoc2KsSMM8k-unsplash.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[A castle complex with multiple towers and spires featuring green and orange-tiled roofs, surrounded by manicured gardens and green spaces under a blue sky with white clouds.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Central and Eastern Europe"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Wawel Royal Castle is a historic fortress in Kraków featuring stunning Gothic and Renaissance architecture with distinctive green and orange-tiled roofs.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[kraków-wawel-royal-castle-lindsey-bahia-xoc2kssmm8k-unsplash.jpg]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Wawel Royal Castle]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/u01brm1h/krak\u00F3w-wawel-royal-castle-lindsey-bahia-xoc2kssmm8k-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>