<?xml version="1.0" encoding="utf-8"?>
<Media Key="1244d947-d428-4e07-a130-43ddc7ad6900" Alias="krakow-market-square-katarzyna-pracuch-pfwIgstLSuE-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/krakowMarketSquareKatarzynaPracuchPfwIgstLSuEUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-22T15:17:17</CreateDate>
    <NodeName Default="krakow-market-square-katarzyna-pracuch-pfwIgstLSuE-unsplash.jpg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Historic Renaissance buildings with ornate facades and arched colonnades surrounding a bustling town square under a partly cloudy sky.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Poland"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Krakow's Market Square features stunning Renaissance architecture with ornate facades and elegant arched colonnades surrounding a historic town center.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[krakow-market-square-katarzyna-pracuch-pfwigstlsue-unsplash.jpg]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Krakow Market Square]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/dmnlqvbf/krakow-market-square-katarzyna-pracuch-pfwigstlsue-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>