<?xml version="1.0" encoding="utf-8"?>
<Media Key="238ae843-3039-48c8-9780-e5827e2400a5" Alias="logo-symbol-umbraco.svg" Level="2">
  <Info>
    <Parent Key="bb14b13a-744f-4d99-904f-6e6b65c89ca9">Software</Parent>
    <Path>/Software/logoSymbolUmbracosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-04-25T09:49:27</CreateDate>
    <NodeName Default="logo-symbol-umbraco.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oluiuizz/logo-symbol-umbraco.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>