<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ce26ce8-ae38-46de-89cd-adc72c7ec9f5" Alias="logo-symbol-bootstrap.svg" Level="2">
  <Info>
    <Parent Key="bb14b13a-744f-4d99-904f-6e6b65c89ca9">Software</Parent>
    <Path>/Software/logoSymbolBootstrapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-04-25T09:49:27</CreateDate>
    <NodeName Default="logo-symbol-bootstrap.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1fwoetby/logo-symbol-bootstrap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>