<?xml version="1.0" encoding="utf-8"?>
<Media Key="80d40abe-48b8-4e09-9fe6-de9b0937c94a" Alias="marrakech2.webp" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/marrakech2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-06-05T06:57:18</CreateDate>
    <NodeName Default="marrakech2.webp" />
    <SortOrder>596</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[A street performer in traditional Moroccan dress in the souks of Marrakech, a snake charmer entertaining the crowds]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Southern Europe"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Street life in the souks of Marrakech, the snake charmers and performers of the famous Jemaa el-Fnaa square.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[Corbis.  All Rights Reserved.]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[Peter Guttman]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[marrakech2.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Marrakech Souk Life]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/2ledrrvv/marrakech2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>