<?xml version="1.0" encoding="utf-8"?>
<Media Key="8628f507-08a9-4c10-a0ee-c8be4352b0f3" Alias="Norfolk-Blickling-Hall-linda-gerbec-esR-96WkDxA-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/NorfolkBlicklingHallLindaGerbecEsR96WkDxAUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-03-26T18:13:21</CreateDate>
    <NodeName Default="Norfolk-Blickling-Hall-linda-gerbec-esR-96WkDxA-unsplash.jpg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Red brick mansion with symmetrical towers and ornate chimneys, flanked by formal gardens with geometric hedges and decorative stone features beneath cloudy sky]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "United Kingdom"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Blickling Hall is a stunning 17th-century stately home featuring distinctive red brick architecture, ornate chimneys, and symmetrical towers.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[norfolk-blickling-hall-linda-gerbec-esr-96wkdxa-unsplash.jpg]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Blickling Hall and Gardens]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/lm1njqfe/norfolk-blickling-hall-linda-gerbec-esr-96wkdxa-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>