<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0e306f4-9e5e-448d-a05e-3587cada0e77" Alias="placeholder.jpg" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/placeholderjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-04-17T08:51:13</CreateDate>
    <NodeName Default="placeholder.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": {
        "x1": 0.37458984375,
        "y1": 0.3745486111111111,
        "x2": 0.37541015625,
        "y2": 0.3754513888888889
      }
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": {
        "x1": 0.37494140625,
        "y1": 0.38340277777777776,
        "x2": 0.37505859375,
        "y2": 0.3832638888888889
      }
    }
  ],
  "src": "/media/vdca5jst/placeholder.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>