<?xml version="1.0" encoding="utf-8"?>
<Media Key="f28a3bfa-b252-4563-97d6-db17729efe5d" Alias="Royal Riviera Hotel, Saint-Jean-Cap-Ferrat" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/RoyalRivieraHotelSaintJeanCapFerrat</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-05-24T15:18:24</CreateDate>
    <NodeName Default="Royal Riviera Hotel, Saint-Jean-Cap-Ferrat" />
    <SortOrder>330</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[The Royal Riviera Hotel at Saint-Jean-Cap-Ferrat, a Belle Epoque hotel set in palm gardens on the French Riviera peninsula]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "France"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[A Belle Epoque hotel at Saint-Jean-Cap-Ferrat on the French Riviera, adjacent to the Villa Ephrussi.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[royal-riviera-hotel-at-saint-jean-cap-ferrat.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Royal Riviera Hotel, Saint-Jean-Cap-Ferrat]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/u12hnnc5/royal-riviera-hotel-at-saint-jean-cap-ferrat.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>