<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdedb933-da2f-4c00-aa00-8ab0ae86feca" Alias="Saltram" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/Saltram</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-05-08T12:51:32</CreateDate>
    <NodeName Default="Saltram" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Pale Georgian Saltram House in winter sunlight, with bare trees, manicured lawns and clipped yews framing the entrance front]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "United Kingdom"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Georgian mansion outside Plymouth created across the eighteenth century by the Parker family, with original Robert Adam interiors and fine paintings.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[National Trust Images/Chris Lacey]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[©National Trust Images/Chris Lacey]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[saltram-tenterden-nt-2026.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[[
  "\u00A9National Trust Images/Chris Lac"
]]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Saltram]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/n33bdozc/saltram-tenterden-nt-2026.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>