<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1b4d98a-cb08-441b-922d-cde22f14f3e3" Alias="Soho House" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/SohoHouse</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-05-12T08:49:24</CreateDate>
    <NodeName Default="Soho House" />
    <SortOrder>162</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Soho House — Georgian villa in Handsworth, Birmingham, painted stucco with classical pediment]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "United Kingdom"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[Soho House was the elegant home of industrialist Matthew Boulton from 1766 to 1809 and a regular meeting place for the Lunar Society. Period interiors hold fine collections of ormolu, silver, furniture and paintings.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[soho-house.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Soho House]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/0ynfrzyf/soho-house.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>