<?xml version="1.0" encoding="utf-8"?>
<Media Key="9be8b386-7abd-479f-a156-bc21c7d63695" Alias="Staff" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Staff</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-26T19:47:45</CreateDate>
    <NodeName Default="Staff" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties />
</Media>