<?xml version="1.0" encoding="utf-8"?>
<Media Key="c575980b-87a6-426d-8399-16831a11fb68" Alias="test-tailored-tour.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/testTailoredTourpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-07-17T11:58:11</CreateDate>
    <NodeName Default="test-tailored-tour.pdf" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/comhlrng/test-tailored-tour.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>