<?xml version="1.0" encoding="utf-8"?>
<Media Key="940b28ad-62fa-45c3-ba9f-4d0f532fb874" Alias="The Burren and Cliffs of Moher" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/TheBurrenAndCliffsOfMoher</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-06-07T18:48:00</CreateDate>
    <NodeName Default="The Burren and Cliffs of Moher" />
    <SortOrder>667</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Limestone sea cliffs of the Burren coast dropping into the Atlantic, a road running along the bare karst plateau above]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Ireland"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[The Burren's dramatic limestone coast in County Clare, near the Cliffs of Moher, where bare karst rock meets the Atlantic.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[burren-cliffs-of-moher.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[The Burren and Cliffs of Moher]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/4hvopuxx/burren-cliffs-of-moher.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>