<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4539410-fbc9-40b2-80d1-6ba80d9f20d3" Alias="TTM4930 Derby N Ireland Titanic Derry lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM4930DerbyNIrelandTitanicDerryLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-03-25T07:13:56</CreateDate>
    <NodeName Default="TTM4930 Derby N Ireland Titanic Derry lo.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h0kfhzgj/ttm4930-derby-n-ireland-titanic-derry-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>