<?xml version="1.0" encoding="utf-8"?>
<Media Key="882c7e92-695e-472b-b991-6d41af3b2b41" Alias="TTM442 Exeter Normandy lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM442ExeterNormandyLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-06-18T09:42:59</CreateDate>
    <NodeName Default="TTM442 Exeter Normandy lo.pdf" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xr5czcc4/ttm442-exeter-normandy-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>