<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdef579d-8950-45c1-9b85-2c4c75a86169" Alias="TTM5123 Chichester Northern Greece lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5123ChichesterNorthernGreeceLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-26T09:42:26</CreateDate>
    <NodeName Default="TTM5123 Chichester Northern Greece lo.pdf" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wnlp5tkq/ttm5123-chichester-northern-greece-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>