<?xml version="1.0" encoding="utf-8"?>
<Media Key="201bfcc4-97db-43e5-b402-dd684e2acbb1" Alias="TTM5171 Rickmansworth Vienna Danube lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5171RickmansworthViennaDanubeLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-06-25T19:28:43</CreateDate>
    <NodeName Default="TTM5171 Rickmansworth Vienna Danube lo.pdf" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3l4bwig1/ttm5171-rickmansworth-vienna-danube-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>