<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d0daf46-c303-40a1-b5e4-3fa99becc36d" Alias="TTM5176 Wycombe Belgium by Eurostar lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5176WycombeBelgiumByEurostarLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-08-01T08:11:44</CreateDate>
    <NodeName Default="TTM5176 Wycombe Belgium by Eurostar lo.pdf" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ncxb01id/ttm5176-wycombe-belgium-by-eurostar-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>