<?xml version="1.0" encoding="utf-8"?>
<Media Key="d155485a-76a9-4d33-935c-146469ed9087" Alias="TTM5063 Wensum Flemish Bruges Antwerp Ghent  lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5063WensumFlemishBrugesAntwerpGhentLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-03-25T07:13:56</CreateDate>
    <NodeName Default="TTM5063 Wensum Flemish Bruges Antwerp Ghent  lo.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oreflunj/ttm5063-wensum-flemish-bruges-antwerp-ghent-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>