<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdb687ef-fd5d-426d-853d-49f232de0b40" Alias="TTM5142 Surry Hill Budapest Danube lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5142SurryHillBudapestDanubeLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-28T13:48:38</CreateDate>
    <NodeName Default="TTM5142 Surry Hill Budapest Danube lo.pdf" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ygdln5k3/ttm5142-surry-hill-budapest-danube-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>