<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c84631e-c781-4e80-aef8-ea632d9e5d6e" Alias="TTM5157 Taunton Lisbon lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5157TauntonLisbonLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-27T10:02:06</CreateDate>
    <NodeName Default="TTM5157 Taunton Lisbon lo.pdf" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gbrjiheb/ttm5157-taunton-lisbon-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>