<?xml version="1.0" encoding="utf-8"?>
<Media Key="8063c282-f833-41e5-9975-42b6b7f491c6" Alias="TTM5169 Alton Barcelona Dali lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5169AltonBarcelonaDaliLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-31T15:25:16</CreateDate>
    <NodeName Default="TTM5169 Alton Barcelona Dali lo.pdf" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vtbghabt/ttm5169-alton-barcelona-dali-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>