<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f5924a9-db24-4a0b-a171-df08cc8fb058" Alias="TTM5110 Tenterden Kynren County Durham lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5110TenterdenKynrenCountyDurhamLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-29T06:47:53</CreateDate>
    <NodeName Default="TTM5110 Tenterden Kynren County Durham lo.pdf" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q2sfstze/ttm5110-tenterden-kynren-county-durham-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>