<?xml version="1.0" encoding="utf-8"?>
<Media Key="3517da06-318e-471a-9f5e-9d9ed39cf431" Alias="TTM5152 Malmesbury Liverpool lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5152MalmesburyLiverpoolLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-31T19:33:24</CreateDate>
    <NodeName Default="TTM5152 Malmesbury Liverpool lo.pdf" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fdnbonmo/ttm5152-malmesbury-liverpool-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>