<?xml version="1.0" encoding="utf-8"?>
<Media Key="970dd669-43ef-429e-933b-0c79cbf62198" Alias="TTM5079 SE Suffolk Kent lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5079SESuffolkKentLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-03-25T07:13:56</CreateDate>
    <NodeName Default="TTM5079 SE Suffolk Kent lo.pdf" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i5la1f5p/ttm5079-se-suffolk-kent-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>