<?xml version="1.0" encoding="utf-8"?>
<Media Key="574ee2ed-1643-473c-8788-8d4bf47540cd" Alias="TTM5141 Betchworth Norfolk Sandringham lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5141BetchworthNorfolkSandringhamLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-08-01T06:38:07</CreateDate>
    <NodeName Default="TTM5141 Betchworth Norfolk Sandringham lo.pdf" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ypre2v0d/ttm5141-betchworth-norfolk-sandringham-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>