<?xml version="1.0" encoding="utf-8"?>
<Media Key="45e0ba3d-d984-40ff-bbdf-83c351a86edb" Alias="TTM5155.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5155pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-30T19:36:10</CreateDate>
    <NodeName Default="TTM5155.pdf" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/co3oarme/ttm5155.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>