<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dd733a8-a20d-4eaf-9626-82c25d91ff74" Alias="TTM5127 Gerrards Cross Vienna Danube lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5127GerrardsCrossViennaDanubeLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-08-01T11:28:58</CreateDate>
    <NodeName Default="TTM5127 Gerrards Cross Vienna Danube lo.pdf" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qyznopin/ttm5127-gerrards-cross-vienna-danube-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>