<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdccd3fd-0d34-485a-8e76-1c593a299586" Alias="TTM5112.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5112pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-31T06:26:00</CreateDate>
    <NodeName Default="TTM5112.pdf" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0pjnztju/ttm5112.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>