<?xml version="1.0" encoding="utf-8"?>
<Media Key="9eb8f95b-153c-4919-beb8-31073898895d" Alias="TTM5134 Wimbledon Shropshire Ironbridge lo (002).pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5134WimbledonShropshireIronbridgeLo002Pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-28T17:30:27</CreateDate>
    <NodeName Default="TTM5134 Wimbledon Shropshire Ironbridge lo (002).pdf" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ox2lrhr2/ttm5134-wimbledon-shropshire-ironbridge-lo-002.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>