<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2462d37-3077-4ac4-8db5-0a829cc4c626" Alias="TTM5154 Brecon Kent lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5154BreconKentLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-07-30T12:52:37</CreateDate>
    <NodeName Default="TTM5154 Brecon Kent lo.pdf" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dewfn2tx/ttm5154-brecon-kent-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>