<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed0b42df-16bb-4ec8-8527-39e7dc344281" Alias="TTM5086  Claires Isle of Man lo.pdf" Level="2">
  <Info>
    <Parent Key="6d7b1714-9c37-4994-834f-929c7956b824">Tailored Tours</Parent>
    <Path>/TailoredTours/TTM5086ClairesIsleOfManLopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-06-23T13:54:11</CreateDate>
    <NodeName Default="TTM5086  Claires Isle of Man lo.pdf" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4fbax1n1/ttm5086-claires-isle-of-man-lo.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>