<?xml version="1.0" encoding="utf-8"?>
<Media Key="9833ea72-3196-4f44-9cc6-f936d26fcc4b" Alias="TUR P77 Istanbul ITIN Istanbul from the Bosphorus shutterstock_301090532.webp" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/TURP77IstanbulITINIstanbulFromTheBosphorusShutterstock_301090532webp</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-06-05T08:22:32</CreateDate>
    <NodeName Default="TUR P77 Istanbul ITIN Istanbul from the Bosphorus shutterstock_301090532.webp" />
    <SortOrder>635</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[The Istanbul skyline seen from the Bosphorus, domes and minarets of the old city rising above the waterfront]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "Central and Eastern Europe"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[The historic skyline of Istanbul seen from the Bosphorus, the strait that divides the European and Asian sides of the city.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[301090532]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[tur-p77-istanbul-itin-istanbul-from-the-bosphorus-shutterstock_301090532.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[[
  "Shutterstock"
]]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Istanbul from the Bosphorus]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/fyun5xu1/tur-p77-istanbul-itin-istanbul-from-the-bosphorus-shutterstock_301090532.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>