<?xml version="1.0" encoding="utf-8"?>
<Media Key="aebd200e-1bb6-4de7-8b70-722aa67d29bb" Alias="Woolsthorpe Manor" Level="2">
  <Info>
    <Parent Key="745ce9d5-e4ae-4d71-a489-bf6aa43d752d">Sights</Parent>
    <Path>/Sights/WoolsthorpeManor</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-05-11T18:12:49</CreateDate>
    <NodeName Default="Woolsthorpe Manor" />
    <SortOrder>152</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[The honey-coloured limestone front of Woolsthorpe Manor, a small 17th-century manor house with mullioned windows and a stone-slate roof, with an apple tree in the foreground.]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyCountry>
      <Value><![CDATA[[
  "United Kingdom"
]]]></Value>
    </mediaPropertyCountry>
    <mediaPropertyDescription>
      <Value><![CDATA[The 17th-century Lincolnshire farmhouse where Sir Isaac Newton was born in 1642 and to which he returned during the Great Plague of 1665–66, conceiving his theories of gravity, motion and optics — the famous apple tree still stands in the orchard.]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyImageAssetId>
      <Value><![CDATA[]]></Value>
    </mediaPropertyImageAssetId>
    <mediaPropertyImageCopyright>
      <Value><![CDATA[National Trust Images/Tessa Musgrave]]></Value>
    </mediaPropertyImageCopyright>
    <mediaPropertyImageCreator>
      <Value><![CDATA[©National Trust Images/Tessa Musgrave]]></Value>
    </mediaPropertyImageCreator>
    <mediaPropertyImageSourceFilename>
      <Value><![CDATA[woolsthorpe-manor-2.webp]]></Value>
    </mediaPropertyImageSourceFilename>
    <mediaPropertyImageSupplier>
      <Value><![CDATA[[
  "National Trust Images"
]]]></Value>
    </mediaPropertyImageSupplier>
    <mediaPropertyRegions>
      <Value><![CDATA[]]></Value>
    </mediaPropertyRegions>
    <mediaPropertyTitle>
      <Value><![CDATA[Woolsthorpe Manor]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "content3Col",
      "width": 384,
      "height": 216,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 768,
      "height": 432,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1152,
      "height": 648,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1536,
      "height": 864,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/klrfd0f1/woolsthorpe-manor-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>